/* max width 1040px - medium tablet */
@media (max-width: 65rem) {

    .bodyLanding,
    body {
        padding-right: 7.2rem;
        padding-left: 7.2rem;
    }

    /* cv page */
    .grid--2-cols--2-rows-cv {
        grid-template-rows: 3.6rem 4.8rem;
    }

    /**/

    .photoAbout img {
        height: 8rem;
    }

    .opportPostIt {
        height: 10rem;
    }

    .cvBox {
        font-size: 2.4rem;
    }
}

/* max width 992px - medium tablet */
@media (max-width: 62rem) {

    .bodyLanding,
    body {
        padding-right: 6.4rem;
        padding-left: 6.4rem;
    }

    .landingText {
        font-size: 1.8rem;
    }
}

/* max width 944px - medium tablet */
@media (max-width: 59rem) {

    .bodyLanding,
    body {
        padding-right: 5.6rem;
        padding-left: 5.6rem;

    }

    .whiteBentoRowQuerie {
        display: none;
    }

    .whiteBentoRow {
        display: block;
        height: 16rem;
        width: 100%;
        border-radius: 1.6rem;
        background-color: #fff;
    }

    /* PREVIOUS MENU QUERIE*/

    /* CV PRESENTATION */
    .mePhoto {
        width: 90px;
    }

    .cvHelloText {
        font-size: 1.6rem;
        grid-column: span 2;
        grid-row: 2;
        padding-top: 2.4rem;
    }

    .querie {
        display: none;
    }

    .cvTitleAttachforLaptopQ {
        display: block;
    }

    .landingLogosF,
    .landingLogosE {
        margin-top: 0.8em;
    }

    .landingLogosE {
        padding-left: 0;
    }

    .portfolioPresentation {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: left;
    }

    /*****************/
    /*****************/
    /*****************/
    .cvLeftRight,
    .grid--2-cols1fr2fr {
        grid-template-columns: 1;
        grid-template-rows: 2;
    }

    .cvSectionLeft {
        grid-row: 2;
    }

    .cvSectionRight {
        width: 100%;
        grid-column: span 2;
        grid-row: 1;
        margin-bottom: 8.8rem;
    }

    /*****************/
    /*****************/
    /*****************/
    .cvSectionTitleEducation {
        display: inline-block;
        justify-content: center;
    }

    .date-info,
    .grid--2-cols--3-rows-cv {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6;
    }

    /************************/
    .date {
        justify-self: left;
        margin-bottom: 0.8rem;
    }

    .info {
        margin-bottom: 1.6rem;
    }

    .date01 {
        grid-column: 1;
        grid-row: 1;
    }

    .info01 {
        grid-column: 1;
        grid-row: 2;
    }

    .date02 {
        grid-column: 1;
        grid-row: 3;
    }

    .info02 {
        grid-column: 1;
        grid-row: 4;
    }

    .date03 {
        grid-column: 1;
        grid-row: 5;
    }

    .info03 {
        grid-column: 1;
        grid-row: 6;
    }

    /***********************/

    .softwareSkillsLevel,
    .grid--3-cols--4-rows-sk {
        grid-template-columns: 1;
        grid-template-rows: repeat(7, 3.6rem);
        margin-bottom: 2.4rem;
    }

    .infoSoftwareJS {
        grid-column: 1;
        grid-row: 1;
    }

    .infoSoftwareCSS {
        grid-column: 1;
        grid-row: 2;
    }

    .infoSoftwareHTML {
        grid-column: 1;
        grid-row: 3;
    }

    .infoSoftwareFIG {
        grid-column: 1;
        grid-row: 4;
    }

    .infoSoftwareILLUST {
        grid-column: 1;
        grid-row: 5;
    }

    .infoSoftwareINDES {
        grid-column: 1;
        grid-row: 6;
    }

    .infoSoftware-skill01 {
        grid-column: 1;
        grid-row: 1;
    }

    .infoSoftware-skill02 {
        grid-column: 1;
        grid-row: 2;
    }

    .infoSoftware-skill03 {
        grid-column: 1;
        grid-row: 3;
    }

    .infoSoftware-skill04 {
        grid-column: 1;
        grid-row: 4;
    }

    .infoSoftware-skill05 {
        grid-column: 1;
        grid-row: 5;
    }

    .infoSoftware-skill06 {
        grid-column: 1;
        grid-row: 6;
    }

    .sectionLine {
        margin-bottom: 8.8rem;
    }

    /**********************/
    /**********************/
    /**********************/
    /**********************/


    .grid--3-cols--1-row-sk {
        grid-template-columns: 1;
        grid-template-rows: 3.6rem 3.6rem;
    }

    .infoSoftware-skill07 {
        grid-column: 1;
        grid-row: 1;
    }

    .infoSoftware-skill08 {
        grid-column: 1;
        grid-row: 2;
        justify-self: left;
    }

    /**********************/
    /**********************/
    .date-info,
    .grid--2-cols--2-rows-cv {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2;
    }

    /*****************/
    /* CV SECTION LEFT/ BOTTOM */
    /*****************/
    .cvSectionLeft {
        grid-column: span 2;
    }

}

/* max width 912px - tablet */
@media (max-width: 57rem) {

    /* ***************************** */
    /* INDEX PAGE - CURRICULUM VITAE */
    /* ***************************** */
    .lectureUxBox p,
    .cvBox {
        font-size: 2rem;
    }

    .grid--2-colsHeaderMain {
        grid-template-columns: 1fr 2fr;
    }

    /* ************************* */
    /* LECTURE SITE-PRESENTATION */
    /* ************************* */
    .querie {
        display: none;
    }

    .grid {
        display: grid;
    }

    .sitePresentation {
        margin-bottom: 4.8rem;
    }

    .sitePresentationContainer {
        min-height: 30rem;
        margin-bottom: 2.4rem;
    }

    .grid--3-colsSitePresentation {
        grid-template-columns: 1fr 2fr;
    }

    .templatePresentation01 {
        min-height: 30rem;
        grid-column: 1;
        grid-row: 1;
    }

    .templatePresentation02 {
        grid-column: 2;
        grid-row: 1;
        padding-right: 1.6rem;
    }

    .briefingTxt {
        grid-row: 3;
        align-items: center;
        justify-content: center;
        padding-top: 0.8rem;
    }

    /* ************************ */
    /* new row for media querie */
    .templatePresentation03NewRow {
        min-height: 30rem;
        background-color: rgba(201, 200, 216, 0.2);
    }

    .grid--2-colsNewPresentationRow {
        grid-template-columns: 2fr 1fr;
        max-height: 30rem;
    }

    .uxTitle-subtitleNewRow01 {
        grid-column: 1;
        min-height: 30rem;
        padding-left: 1.6rem;
    }

    .grid--3-rowsNewRow {
        grid-template-rows: 1fr 1fr 1fr;
    }

    .uxTitlePlaceholderNewRow {
        grid-row: 2;
        display: flex;
        align-items: end;
    }

    .uxSubtitlesNewRow {
        grid-row: 3;
    }

    .uxTitle-subtitleNewRow03 {
        grid-column: 2;
        min-height: 30rem;
    }

    /*
    .hexagonsGroupNewRow {}*/

    .hexagonsGroupNewRow img {
        padding-top: 1.6rem;
        height: 12rem;
    }

    .hexagonsGroupSubtitlesNewRow {
        grid-row: 2;
        font-family: 1rem;
        display: flex;
        align-items: end;
        justify-content: end;
        font-size: 0.8rem;
        line-height: 1.2;
        padding-right: 1.6rem;
        font-family: 1rem;
    }


    /* ********************** */
    /* LECTURE - 01-EMPATHIZE */
    /* ********************** */
    .uxPhase {
        margin-bottom: 7.2rem;
        padding: 1.6rem;
    }


    /* col-01 left */
    /* **************** */
    /*
    .empathize-questions02,
    .empathize-questions01 {
        padding-right: 0.4rem;
    }

    .empathize-questions02 p,
    .empathize-questions01 p {
        margin-bottom: 0.8rem;

    }*/

    /* col-02 right */
    /* **************** */
    /* row-01 */
    /* row-02 */
    /* row-03 */


    /* CONTENT SELECTION - BUILDING PROTO PERSONAS */
    .protoPersonasContentSelection {
        margin-bottom: 7.2rem;
    }

    .protoPersonasContentSelectionTitles {
        font-size: 1.4rem;
    }

    .txtTarget {
        font-weight: 300;
    }

    .contentProtoPersonas {
        justify-content: space-between;
    }

    .photoAbout {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

    .personasTxt {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }

    /* INTERVIEW GUIDE */
    /* *************** */
    .researchStrategy {
        margin-bottom: 2.4rem;
    }

    .researchStrategyTitles {
        margin-bottom: 4rem;
    }

    .interviewTitles {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    .interviewSubTitles {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
    }

    .interviewSubTitles p {
        margin-bottom: 0.8rem;
    }

    /**/
    .interviewGuide {
        margin-bottom: 2.4rem;
    }

    .grid--2-colsInterview {
        grid-template-columns: 1fr 3fr;
        gap: 1.6rem;
    }

    /* col-01 left*/
    .interviewGuideLeft {
        padding-left: 0.8rem;
        padding-top: 1.6rem;
        padding-bottom: 0.8rem;
    }

    .interviewGuideRight,
    .interviewGuideLeft {
        padding-top: 0.8rem;
        margin-bottom: 1.6rem;
    }

    /* col repeat(2, 1fr)*/
    .grid--2-colsQA {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* col-02 right*/

    .interviewGuideRight {
        grid-column: 2;
    }

    .grid--3-colsQA {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
    }

    .interviewAnswers-col02 {
        align-self: end;
    }


    /* *************** */
    /* COMPETITORS ANALYSES */
    /* *************** */
    .competitorsAnalysesSection {
        margin-bottom: 2.4rem;
    }

    .competition {
        margin-bottom: 2.4rem;
    }

    .competition {
        margin-bottom: 2.4rem;
    }

    /**/
    .grid--2-colsCompetition {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 2;
        column-gap: 0;
        row-gap: 2.4rem;
    }

    .competitorsAnalyses-columnLeft {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: center;
    }

    .competitorsAnalyses-columnRight {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
    }

    .grid--3-colsCompetitorDropdown {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* ***************** */
    /* LECTURE 02-DEFINE */
    /* ***************** */

    /* ******************************* */
    /* REFINED PERSONAS - USER JOURNEY */
    /* ******************************* */

    .grid--3-cols {
        grid-template-columns: 0;
    }

    .refinedPersonasAll {
        display: flex;
        justify-content: space-around;
    }

    .personasRefinedOnlyMaria {
        display: flex;
        justify-content: center;
        margin-top: 1.6rem;
    }

    .finalMargarida {
        display: block;
        justify-self: center;
        width: 40rem;
        background-color: rgba(201, 200, 216, 0.2);
        margin-bottom: 2.4rem;
    }

    .finalMargarida-grid--2-rows {
        display: grid;
        grid-template-rows: 2;
    }

    .personaMargaridaFinal-row-01 {
        grid-row: 1;
        justify-self: center;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }

    .personaMargaridaFinal-row-02 {
        grid-row: 2;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    .personaMargaridaLeftObstaculesFinal,
    .personaMargaridaLeftNeedsFinal,
    .personaMargaridaLeftHabitsFinal {
        padding-bottom: 0.8rem;
        font-size: 1.2rem;
        justify-self: center;
    }

    /**/
    /* scenario-expectations */

    .userJourneyExpectations-txt,
    .userJourneyScenario-txt {
        width: 100%;
    }

}

/* max width 864px - medium tablet */
@media (max-width:54rem) {
    .cvBox {
        font-size: 3.2rem;
    }

    .contentProtoPersonas {
        display: block;
    }

    .contentProtoPersonas-laura {
        margin-bottom: 4.8rem;
    }
}

/* max width 768px - medium tablet */
@media (max-width: 48rem) {

    .bodyLanding,
    body {
        padding-right: 4.8rem;
        padding-left: 4.8rem;
    }

    .landingPhoto {
        display: block;
    }

    .landingText {
        margin-top: 1.6rem;
    }

    .lectureUxBox,
    .cvBox {
        height: 24rem;
    }

    .fullWBox {
        height: 24rem;
    }

    .cvBox {
        font-size: 2.4rem;
    }

    .grid--2-colsHeaderMain {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2;
    }

    .headerMainRight {
        grid-row: 2;
        margin-top: 1.6rem;
    }

    .headerLinkCurriculumVitae,
    .headerLinkPortfolio {
        font-size: 1.4rem;
    }


    /* ? */

    /* ? */
    .uxTitle-subtitleNewRow01 {
        padding-left: 0.8rem;
    }

    /* ? */
    .uxPhase {
        padding: 0.8rem;
    }



    /* interview */
    .Q-A {
        font-size: 1rem;
    }

    .interviewAnswers-col01,
    .interviewAnswers-col02,
    .interviewAnswers-col03 {
        font-size: 1rem;
        padding-right: 0.8rem;
        padding-bottom: 0.8rem;
    }


}

/* max width 720px - medium tablet */
@media (max-width: 45rem) {

    .bodyLanding,
    body {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .linkBox {
        display: block;
    }

    .lectureUxBox {
        width: 100%;
        height: 20rem;
        margin-bottom: 1.6rem;
    }

    .cvBox {
        width: 100%;
        height: 14rem;

    }

    .fullWBox {
        height: 16rem;
    }

    .whiteBentoRow {
        height: 12rem;
    }

    .whiteBentoRow {
        height: 10rem;
    }

    .qrCode {
        height: 10rem;
    }

    /*
   .uxPhase {
        display: flex;

        justify-content: center;
    }
*/
    /*
    .grid--2-colsUxMethodology {
        grid-template-columns: 1;
        grid-template-rows: 1fr 1fr;
        row-gap: 1.6rem;

    }

    .empathize-col-left {
        grid-column: 1;
        grid-row: 1;

    }

    .empathize-col-right {
        grid-column: 1;
        grid-row: 2;
    }
*/

}

/* max width 704px -  tablet */
@media (max-width: 44rem) {

    .bodyLanding,
    body {
        padding-right: 3.2rem;
        padding-left: 3.2rem;
    }

    .empathizeTitle {
        font-size: 1.2rem;
    }



    .txt {
        font-size: 1.2rem;
    }

    .txtCenter {
        font-size: 1.2rem;
    }

    .targetAudience p {
        font-size: 1.2rem;
    }

    .interviewSubTitles p {
        font-size: 1.2rem;
    }

    .iconStar {
        font-size: 0.8rem;
    }
}





/* 607 cv em 2 linhas */
/* max width 544px - mobile */
@media (max-width: 34rem) {

    .bodyLanding,
    body {
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }

    .meLandingPhoto {
        display: none;
    }

    .currentlyText,
    .textPassions p {
        margin-right: 1.2rem;
    }





    .title-1 {
        font-size: 1.4rem;
    }

    .title-2 {
        font-size: 1.2rem;
    }

    .grid--3-rowsNewRow {
        grid-template-rows: 0.8fr 1fr 1.2fr;
    }









}

/* max width 464px - mobile */
@media (max-width: 29rem) {

    .bodyLanding,
    body {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }

    .cvBoxLink,
    .lectureUxBoxLink {
        font-size: 1.6rem;
    }

    .lectureUxBox,
    .cvBox,
    .whiteBentoRow {
        height: 12rem;
    }

    .fullWBox {
        height: 10rem;
    }

    .headerLinkCurriculumVitae,
    .headerLinkPortfolio {
        font-size: 1.2rem;
    }

    .headerMainContacts,
    .headerMainCv,
    .headerMainPortfolio {
        font-size: 1rem;
    }
}

/* max width 416px - mobile */
@media (max-width: 26rem) {

    .bodyLanding,
    body {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }

    .headerMobilePortfolio,
    .headerMobileInformation,
    .headerMobileContacts {
        display: none;
    }






}

/* max width 320px - mobile */
@media (max-width: 20rem) {

    .bodyLanding,
    body {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }

    header {
        margin-top: 2.4rem;
        margin-bottom: 4.8rem;
    }

    .briefingTitle {
        font-size: 1.8rem;
    }

    .titleWhiteLettersSmall {
        font-size: 1rem;
    }

    .emptyBriefing {
        grid-column: 2;
        grid-row: 2;
        background-color: rgba(201, 200, 216, 0.2);
    }

    .briefingSubTitle {
        display: block;
        align-self: flex-end;
        font-size: 1rem;

    }

    .briefingTxt {
        padding-right: 0.4rem;
    }

    .headerMainRight {
        width: 31.2rem;
    }

    .headerLinkPortfolio,
    .headerLinkCurriculumVitae,
    .contactMail,
    .contactHeaderLinkedin,
    .jewelryDesignBrand,
    .contactHeaderGithub {
        font-size: 1rem;
    }


    .grid--3-rowsNewRow {
        grid-template-rows: 1fr 1fr;
    }

    .navCsSubtitle-2-Header {
        font-size: 1rem;
    }


    .personaAbout {
        padding-left: 1rem;
    }

    .personasName {
        font-size: 1.2rem;
    }

    .gridPersonasCard {
        column-gap: 0.4rem;
        row-gap: 0.4rem;
    }

    .contentProtoPersonas-laura,
    .contentProtoPersonas-antonio {
        width: 31.2em;
    }

    .personasCardModule,
    .personasCardModuleDrawing {
        width: 15.2rem;
    }







}