* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size default 16px */
    font-size: 62.5%;
    /* 10px/ 16px= 0.625= 62.5%*/
    /* percentage of user's browser font-size setting */
    overflow-x: hidden;
    background-color: #eeeeee;
}

body {
    /* weight from 100 to 900 */
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 200;
    color: #111;
    overflow-x: hidden;

    max-width: 120rem;
    padding-right: 8rem;
    padding-left: 8rem;
    margin: auto;
    background-color: white;
}



/* *********** */
/* HEADER MAIN */
/* *********** */
header {
    margin-top: 8.8rem;
    margin-bottom: 8.8rem;
}

.headerMain {
    margin-bottom: 12rem;
    /* before 4.2 */
}

/* **************** */
/* HEADER MAIN-left */
/* **************** */
.grid {
    display: grid;
}

.grid--2-colsHeaderMain {
    grid-template-columns: repeat(2, 1fr);
}

.grid--2-colsQA,
.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.headerMainLeft {
    display: flex;
    align-items: center;
}

.logoDd {
    padding-right: 2.4rem;
    height: 4.2rem;
}

.myName {
    text-decoration: none;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 500;
    color: #111;
}


/* ***************** */
/* HEADER MAIN-right */
/* ***************** */
/*
.headerMainRight {}*/
.grid--3-colsHeaderMainRight,
.grid--3-colsQA,
.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.headerMainContacts,
.headerMainCv,
.headerMainPortfolio {
    margin-right: 20%;
    font-size: 1.2rem;
}

.linkPortfolioPlaceholder {
    border-top: 2px solid #292562;
}

.linkCvPlaceholder {
    border-top: 2px solid #FCDC4A;
}

.headerLinkPortfolio {
    margin-top: 0.8rem;
    padding-right: 1.6rem;
}

.headerLinkPortfolio,
.headerLinkCurriculumVitae {
    font-size: 1.6rem;
    font-weight: 300;
    color: #333;
}

.linkMakingOfPlaceholder {
    font-size: 1rem;
}

.linkMakingOf {
    text-decoration: none;
    color: #333;
}

.contactsHeader {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
}

.contactLinksTop {
    border-top: 1px solid #292562;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.contactMail,
.jewelryDesignBrand {
    padding-right: 1.6rem;
}

.contactLinksBottom {
    padding-bottom: 0.8rem;
}

.contactLinksTop,
.contactLinksBottom {
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    color: #555;
}

.jewelryDesignBrand:link,
.jewelryDesignBrand:visited,
.contactHeaderGithub:link,
.contactHeaderLinkedin:link,
.contactHeaderGithub:visited,
.contactHeaderLinkedin:visited {
    transition: all 0.3s;
}

.jewelryDesignBrand:hover,
.jewelryDesignBrand:active,
.contactHeaderGithub:hover,
.contactHeaderLinkedin:hover,
.contactHeaderGithub:active,
.contactHeaderLinkedin:active {
    background-color: black;
    color: white;
}


.jewelryDesignBrand,
.contactHeaderLinkedin,
.contactHeaderGithub {
    text-decoration: none;
    cursor: pointer;
    color: #555;
}

.headerLinkPortfolio,
.headerLinkCurriculumVitae {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}


/* *************** */
/* CV-PRESENTATION */
/* *************** */

.cvPresentationPlaceholder {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 7.2rem;
}

.cvPresentationPhoto {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.mePhoto {
    width: 100px;
}

.cvHelloText {
    justify-self: center;
    align-self: center;
    font-size: 1.8rem;
    line-height: 1.4;
}









/* *************** */
/* CURRICULUM-MAIN */
/* *************** */
.cvMain {
    margin-bottom: 8.8rem;
}

/* ******* */
/* CV-LEFT */
/* ******* */
.grid--2-cols1fr2fr {
    grid-template-columns: 1fr 2fr;
}

.grid--2-rows {
    grid-template-rows: 1fr 1fr;
}

.cvSectionLeft {
    padding-right: 8rem;
}

.cvTitleAttachforLaptopQ {
    display: none;
}

.cvTitleAttach {
    display: flex;
}

.heading-1 {
    font-size: 3rem;
    font-weight: 350;
    margin-bottom: 4.2rem;
}

.personalInfo {
    margin-bottom: 4.2rem;
}

.cvLinkedin,
.cvGithub {
    text-decoration: none;
    cursor: pointer;
    color: #555;
    font-size: 1.2rem;
}

.softSkills {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 4.2rem;
}

.cvPersonalInfoTitle,
.cvSectionTitlePreviousEducation,
.cvSectionTitlePreviousWorkExperience,
.cvSectionTitlePreviousWork,
.cvSectionTitleEducation,
.cvSectionTitleLanguage,
.cvSectionTitleComputerSkills {
    margin-bottom: 1.6rem;
}

.cvSectionTitle {
    margin-bottom: 2.4rem;
}

.personalInterests {
    margin-bottom: 8.8rem;
}

/* ******** */
/* CV-RIGHT */
/* ******** */
.cvSectionTitleEducation {
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
}

.landingLogosE,
.landingLogosF {
    height: 1.6rem;
    padding-left: 1.6rem;
}

.grid--2-cols--3-rows-cv {
    grid-template-columns: 0.55fr 2.55fr;
    grid-template-rows: 3.6rem 3.6rem 3.6rem;
    column-gap: 0.8rem;
    margin-bottom: 1.6rem;
}

.date {
    font-size: 1.2rem;
    line-height: 1.6rem;
    justify-self: right;
}

.date01,
.date02,
.date03 {
    grid-column: span 1;
}

.info {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.date01,
.info01 {
    grid-row: 1;
}

.date02,
.info02 {
    grid-row: 2;
}

.date03,
.info03 {
    grid-row: 3;
}

.grid--3-cols--4-rows-sk {
    grid-template-columns: 0.55fr 1.25fr 1.25fr;
    grid-template-rows: repeat(4, 3.6rem);
}

.infoSoftware-skill01,
.infoSoftware-skill03,
.infoSoftware-skill05,
.infoSoftware-skill07 {
    grid-column: 2;
}

.infoSoftware-skill01,
.infoSoftware-skill02 {
    grid-row: 1;
}

.infoSoftware-skill02,
.infoSoftware-skill04,
.infoSoftware-skill06,
.infoSoftware-skill08 {
    grid-column: 3;
    justify-self: right;
}

.infoSoftware-skill03,
.infoSoftware-skill04 {
    grid-row: 2;
}

.infoSoftware-skill05,
.infoSoftware-skill06 {
    grid-row: 3;
}

.infoSoftwareJS,
.infoSoftwareCSS,
.infoSoftwareHTML,
.infoSoftwareFIG,
.infoSoftwareILLUST,
.infoSoftwareINDES {
    font-size: 1.2rem;
}

.sectionLine {
    margin-top: 2.4rem;
    border-bottom: 1px solid #999;
}

.previousExperience {
    margin-top: 4.2rem;
}

.grid--2-cols--2-rows-cv {
    grid-template-columns: 0.55fr 2.55fr;
    grid-template-rows: 3.6rem 3.6rem;
    column-gap: 0.8rem;
}


.grid--3-cols--1-row-sk {
    grid-template-columns:
        0.55fr 1.25fr 1.25fr;
    grid-template-rows: 3.6rem;
}

/* ************ */
/* CV biography */
/* ************ */

.biographyTitle {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1.6rem;
}

.biographySentence {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
}

.biographyText {
    font-size: 1.2rem;
    margin-bottom: 4.2rem;
    line-height: 1.6rem;
}

.biographyText p {
    margin-bottom: 0.8rem;
}


/* ****** */
/* FOOTER */
/* ****** */

footer {
    height: 8rem;
    border-top: 0.5px solid #999;
    margin-top: 8.8rem;
}

.footerContent {
    justify-self: right;
    color: #333;
    display: flex;
}

.currentYear,
.footerMyName {
    align-self: center;
    font-size: 1.2rem;
}

.registeredMark {
    font-size: 2.4rem;
    padding-top: 0.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

/* ******************************** */
/* ******************************** */
/* REVISÃO 02 MAIO - DRY */

/* ******************************** */
/* ******************************** */


/* ***************** */
/* SITE-PRESENTATION */
/* ***************************************** */
/* LECTURE-BRIEFING-PRESENTATION-METHODOLOGY */
/* ***************************************** */
.sitePresentation {
    min-height: 30rem;
    margin-bottom: 8.8rem;
}

.sitePresentationContainer {
    margin-bottom: 1.6rem;
}

.grid--3-colsSitePresentation {
    grid-template-columns: repeat(3, 1fr);
}

.templatePresentation01,
.templatePresentation02,
.templatePresentation03 {
    height: 30rem;
}

/****************************/
/* COL-01 */
.grid--2cols--3rows-briefing {
    grid-template-columns: 2;
    grid-template-rows: 1fr 1fr 1fr;
}

.briefingEdit-logo {
    background-color: black;
    grid-column: 1;
    grid-row: 1;
    padding-left: 0.8rem;
}

.briefingTitle {
    background-color: black;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: end;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    padding-left: 0.8rem;
}

.briefingWord {
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
}

.titleWhiteLettersSmall {
    font-size: 1.1rem;
}

.briefingCol01-Row03 {
    grid-column: 1;
    grid-row: 3;
    background-color: black;
}

/* COL-02 */
.briefingCol02-Row01 {
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(201, 200, 216, 0.2);
}

.briefingSubTitle {
    background-color: rgba(201, 200, 216, 0.2);
    display: flex;
    align-items: end;
    grid-column: 2;
    grid-row: 2;
    font-size: 1.1rem;
    font-weight: 400;
}

.subTitleYellowBackground {
    background-color: #FCDC4A;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    display: flex;
    align-items: end;
}

.arrowBckYellow {
    line-height: 1;
    font-size: 1.2rem;
}

.briefingCol02-Row03 {
    grid-column: 2;
    grid-row: 3;
    background-color: rgba(201, 200, 216, 0.2);
}

/* COL 02 */
.templatePresentation02 {
    padding-left: 0.4rem;
    background-color: rgba(201, 200, 216, 0.2);
}

.grid--3rows-briefingSmallText {
    grid-template-rows: 1fr 1fr 1fr;
}

.lectureTitlePlaceholder {
    grid-row: 2;
    display: flex;
    align-items: end;
}

.lectureTitleBriefing {
    color: #292562;
    font-size: 3.2rem;
    font-weight: 350;
}

.briefingTxt {
    grid-row: 3;
    font-size: 1rem;
    line-height: 1.2;
    padding-right: 1.6rem;
}

.txtColor {
    color: #292562;
    font-weight: 400;
}

/* ****** */
/* COL 03 */
.templatePresentation03 {
    background-color: rgba(201, 200, 216, 0.2);
}

.grid--2rows-briefingUx {
    grid-template-rows: 20rem 10rem;
}

/* row-1 */
.hexagonsGroupQuerie {
    margin-top: 0.8rem;
    grid-row: 1;
}

.uxTitlePlaceholder {
    margin-bottom: 1.6rem;
}

.uxDesignTitle {
    font-size: 1.6rem;
    font-weight: 300;
    color: #292562;
}

.uxHexagonPlaceholder {
    display: flex;
    justify-content: center;
}

.hexagonGroup-drawing {
    height: 12rem;
}

.hexagonsGroupSubtitlesQuerie {
    font-size: 0.8rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

/* row-2 */
.caseStudySubTitleHeader {
    grid-row: 2;
}

.navCsSubtitle-2-Header {
    font-size: 1.2rem;
    line-height: 1.4;
}

.groupProject {
    align-self: self-end;
}

.caseStudySubTitleTextLine {
    font-size: 0.8rem;
}


/*
.playingHexagons {}
*/
.sliderContainer {
    height: 8rem;
    margin-bottom: 12rem;
}

.slider {
    display: flex;
}

.slide-allPhases,



.slide-05-test {
    height: 8rem;
    width: 32.4rem;

    border-radius: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 0.8rem;
    padding: 0.4rem;
    background-color: rgba(201, 200, 216, 0.1);
}

.slide-04-prototype,
.slide-02-define,
.slide-03-ideate,
.slide-01-empathize {
    height: 6.4rem;
    width: 24.2rem;
    border-radius: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 0.8rem;
    padding: 0.4rem;
    background-color: rgba(201, 200, 216, 0.05);
}

.slideModule {
    display: flex;
    align-items: center;
    justify-content: right;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*
button:link,
button:visited {}

button:hover,
button:active {
    color: #292562;
}*/


/* ********************************** */
/* turn off when media queries */
.templatePresentation03NewRow {
    display: none;
}

/* DRY - EMPATHIZE 02-MAI */
/* ********************************** */
/* LECTURE DEVELOPMENT - 01-EMPATHIZE */
/* ********************************** */
.uxMethodology {
    margin-bottom: 24rem;
}

.uxMethodology-empathize {
    height: 39.2rem;
}

.grid--2-colsUxMethodology {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
}

.empathize-col-left,
.empathize-col-right {
    height: 44rem;
    width: 100%;
    border-radius: 2.4rem;
}

/*  col-01 left */
/* ************ */
.hexagon-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.empathizeTitle {
    font-size: 1.6rem;
    font-weight: 500;

    color: #292562;
    padding-left: 1.6rem;
    background-color: #fff;
}


.empathize-questions02,
.empathize-questions01 {
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: rgba(201, 200, 216, 0.1);
}

.empathize-questions02,
.empathize-questions01,
.empathize-questions-center-border {
    padding: 1.6rem;
    border-radius: 2.4rem;
    margin-bottom: 1.6rem;
}

.txt {
    font-size: 1.4rem;
    font-weight: 300;
    background-color: #FCDC4A;
}

.empathizeCenterGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.empathize-questions-center-border {
    border: 1px solid rgba(201, 200, 216);
}

/*
.empathize-questions02 */
/* txtColor */

/* col-02 right */
/* ************ */
/* empathize-col-right */
/* empathize-userQuestions */

.grid--2-rowsEmpathize {
    height: 39.2rem;
    grid-template-rows: 2;
}

/* row-01 */
.empathizeUserRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 12rem;
    border: 1px solid rgba(201, 200, 216);
    border-radius: 2.4rem;
    align-items: center;
}

.circleEmpathize {
    /*
    height: 16rem;
    width: 16rem;
    border-radius: 50%;*/
    justify-self: center;
}

/*drawingSize*/
/*
.empathizeAllQ {}*/
.empathizeQ01,
.empathizeQ02,
.empathizeQ03 {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 200;

    color: #292562;
    justify-self: left;
    margin-bottom: 0.4rem;
    /*
    padding-left: 2.4rem;
*/
}

.qMark {
    font-size: 1.2rem;
    font-weight: 400;
    color: #292562;
    background-color: #fff;
    padding-left: 0.4rem;
}

/* row-02 */
.empathizeProcess {
    width: 100%;
    align-items: center;
    color: #292562;
    font-size: 1.2rem;
    font-weight: 400;
}

/* grid--2-cols */

.arrowCol {
    font-size: 4rem;
    color: #555;
    justify-self: center;
}

.empathizeKeyWords {
    display: inline-block;
    background-color: #FCDC4A;
}

/*
.empathizeKeyWordsArrow {}
.arrowBlueEmpathize {}
*/
.arrowBlueEmpathize {
    font-size: 1.6rem;
    color: #292562;
}

/*.arrowTxtBlue*/


/* ******************************************* */
/* CONTENT SELECTION - BUILDING PROTO PERSONAS */
/* ******************************************* */
.protoPersonasContentSelection {
    margin-bottom: 12em;
}

.protoPersonasContentSelectionTitles {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1.6em;
}

.targetAudience {
    margin-bottom: 1.6rem;
}

.targetAudience p {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.txtTarget {
    color: #292562;
    font-weight: 400;
    background-color: #FCDC4A;
}

/* cards - personas */
.personasResearchSubtitle {
    margin-bottom: 4rem;
}

.refinedPersonasGrid-2-cols,
.contentProtoPersonas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contentFinalPersona,
.contentProtoPersonas-laura,
.contentProtoPersonas-antonio {
    width: 32.8rem;
}

.arrowPersonasBck {
    display: flex;
    justify-content: space-around;
}

.arrowTxt {
    display: flex;
    justify-content: center;
    color: #292562;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.roundBackground {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #FCDC4A;
    align-items: center;
}

/* txtTarget */

/* ******************* */
/* ******************* */
/* card-persona PERSONA PRESENTATION */
.personaAbout {
    height: 2.4rem;
    background-color: rgba(41, 37, 98, 0.8);
    color: #fff;
    display: flex;
    border-radius: 1.6rem;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    padding-left: 1.6rem;
    display: flex;
    margin-bottom: 0.8rem;
}

.personasName {
    align-self: center;
    font-size: 1.3rem;
    font-weight: 400;
}

.personasNameData {
    align-self: center;
    font-size: 1rem;
    font-weight: 300;
}

.gridPersonasCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.6rem;
    row-gap: 1.6rem;
}

/* card-persona module */

.personasCardModule,
.personasCardModuleDrawing {
    width: 15.6rem;
    height: 10.4rem;
    border-radius: 1.6rem;
}

.personasCardModule {
    box-shadow: 4px 4px 5px rgba(201, 200, 216, 0.1);
}

.personasCardModuleDrawing {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 5px rgba(201, 200, 216, 0.5);
    background-color: rgba(201, 200, 216, 0.1);
}

.emojidrawing,
.persona-card-drawing {
    height: 8rem;
}

.card-title {
    height: 2.4rem;
    background-color: rgba(41, 37, 98, 0.3);
    border-top-right-radius: 1.6rem;
    border-top-left-radius: 1.6rem;
    display: flex;
}

.personasDataTitle {
    font-size: 1.2rem;
    font-weight: 400;
    align-self: center;
    padding-left: 1.6rem;
}

.card-txt-data {
    height: 8rem;
    background-color: rgba(41, 37, 98, 0.05);
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    display: flex;
}

.personasDataTxt {
    font-size: 1rem;
    align-self: center;
    padding-left: 0.8rem;
}

.txtCenter {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}









/* ******************************************* */
/* CONTENT SELECTION - BUILDING PROTO PERSONAS */
/* ******************************************* */

























/* card-persona module */
/* ******************* */
/* ******************* */




.contentProtoPersonas-title {
    border: 1px solid #292562;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #292562;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.personasResearchAbout,
.personasResearchAbout {
    min-height: 30rem;
    border-radius: 1.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: rgba(201, 200, 216, 0.1);
}

.photoAbout {
    margin-bottom: 0.8rem;
}

.drawingSize,
.drawingTelmo,
.drawingMargarida,
.drawingMaria,
.drawingAntonio,
.drawingLaura {
    height: 8rem;
}

.about {
    align-self: center;
}



/* ***************************** */
/* UX RESEARCH - INTERVIEW GUIDE */
/* ***************************** */
.researchStrategy {
    margin-bottom: 20rem;
}

.researchStrategyTitles {
    margin-bottom: 4.8rem;
}

/*
.interviewGuide {}*/

.interviewGuide-grid--2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.interview-A-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1.6rem;
    row-gap: 1.6rem;
}

.interview-Q-grid {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2fr 1fr;
    row-gap: 1.6rem;
}

.interview-Q-grid-03-row,
.interview-Q-grid-02-row,
.interview-Q-grid-01-row {
    display: flex;

}

.Q01,
.interviewAllDrawings {
    grid-row: 1;
}

.Q01 {
    align-self: self-end;
}

.interviewAllDrawings {
    margin-left: 1.6rem;

}

.Q02,
.Q03 {
    grid-row: 2;
}

.Q02 {
    margin-right: 1.6rem;
}



.interview-A-grid {
    justify-self: left;
}

.interview-A-A,
.interview-Q-A {
    width: 15.4rem;
    height: 10.4rem;
    border-radius: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: rgba(41, 37, 98, 0.05);
    box-shadow: 4px 4px 5px rgba(201, 200, 216, 0.5);
}

.interview-Q-A {
    display: flex;
}

.interview-A-A {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.interview-Answers,
.interview-Questions {
    font-family: 1.2rem;
    align-self: center;
}

.interviewTitles {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

.interviewSubTitles {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.interviewSubTitles p {
    margin-bottom: 1.6rem;
}

.grid--2-colsInterview {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
}

.interviewGuide {
    /*
    min-height: 20rem;*/
    margin-bottom: 20rem;
}



/* ********************** */
/* INTERVIEW GUIDE - left */
/* ********************** */
.Q-A-title,
.Q-A {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}



/* *********************** */
/* INTERVIEW GUIDE - right */
/* *********************** */
.findings {
    margin-bottom: 7.2rem;
}


.competitorsAnalysesSection {
    margin-bottom: 20rem;
}

.interviewAnswers-col01,
.interviewAnswers-col02,
.interviewAnswers-col03 {
    font-size: 1.2rem;
    padding-right: 1.6rem;
    padding-bottom: 1.6rem;
}

.interviewAnswers-col01 p,
.interviewAnswers-col02 p,
.interviewAnswers-col03 p {
    margin-bottom: 0.8rem;
}

.interviewDrawing {
    height: 8rem;
    padding-bottom: 0.8rem;
}


/* ********************************** */
/* COMPETITORS ANALYSES - table-right */
/* ********************************** */
.competitorsAnalysesTitles {
    margin-bottom: 3.6rem;
}

.grid--2-colsCompetition {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
}

.competition {
    margin-bottom: 12rem;
}

/*
.competitorsAnalyses-columnRight,
.competitorsAnalyses-columnLeft {}
*/
.competitorsLogoPlaceholder {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.competitorsLogoPlaceholderTable {
    height: 4rem;
    align-items: center;

}

.logosTable {
    height: 2rem;
}

.logos {
    height: 2rem;
    display: flex;
    justify-content: space-around;
}

.btnDropdownComparisons,
.btnDropdown {
    height: 2.4rem;
    width: 100%;
    border: 0.5px solid #555;
    border-radius: 16px;
    color: #555;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
}

.btnDropdown:link,
.btnDropdown:visited,
.btnDropdownComparisons:link,
.btnDropdownComparisons:visited {
    transition: all 0.3s;
}

.btnDropdown:hover,
.btnDropdown:active,
.btnDropdownComparisons:hover,
.btnDropdownComparisons:active {
    background-color: #555;
    border-radius: 16px;
    color: white;
}

.analisesContent {
    display: flex;
    padding: 0.8rem 0.8rem;
}

.hiddenMenuQ,
.hidden {
    display: none;
}

.response {
    justify-self: center;
    align-self: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.responseTxt {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.middleText {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.iconStar {
    color: #f4c804;
}

.comparisonsTitle {
    height: 2.4em;
    border-bottom: 0.5px dashed #999;
    align-items: center;
    justify-content: center;
}

.grid--4-cols05fr1fr {
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
}

.tableSubTitle {
    padding-left: 1.6rem;
}

.tableMiddle {
    justify-self: center;
}

/* ******************************* */
/* LECTURE DEVELOPMENT - 02-DEFINE */
/* ******************************* */

.uxMethodologyPhaseDefine {
    margin-bottom: 12rem;
}

.uxMethodology-define {
    height: 44rem;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
    border-radius: 2.4rem;
    background-color: rgba(201, 200, 216, 0.1);
}






/* ******************************** */

/* ******************************* */
/* REFINED PERSONAS - USER JOURNEY */
/* ******************************* */

.refinedPersonas {
    color: #555;
    margin-bottom: 2.4rem;
}

.personasResearchTitle {
    margin-bottom: 8px;
}

.refinedPersonasSubtitle {
    margin-bottom: 8px;
}

.refinedPersonasGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.8rem;
}

.refinedPersonasAll {
    font-size: 12px;
    margin-top: 16px;
    display: flex;
    gap: 1.6rem;
}

.personasRefinedTelmo,
.personasRefinedMaria,
.personasRefinedMargarida {
    height: 30rem;
    width: 40rem;
    border-radius: 1.6rem;
    padding-top: 0.8rem;
    background-color: rgba(201, 200, 216, 0.1);
}

.personasRefinedOnlyMaria {
    display: none;
}

/* **************************** */
/* FINAL PERSONA - USER JOURNEY */
/* **************************** */
.finalMargarida {
    display: block;
}



.personaMargaridaUserJourney {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
}

.finalPersonaInformation {
    height: 24.8rem;
    width: 66%;
    background-color: rgba(201, 200, 216, 0.1);
    border-radius: 4.8rem;
    padding: 2.4rem;

}

.grid--2-colsMargarida {
    grid-template-columns: 1fr 2fr;
}

.personaMargaridaRight {
    align-self: center;
    padding-left: 2.4rem;
}

.personaMargaridaLeftHabits,
.personaMargaridaLeftNeeds,
.personaMargaridaLeftObstacules {
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
}

.habitsMargarida,
.needsMargarida,
.obstaclesMargarida {
    color: #222;
    font-weight: 400;
}

.personaMargaridaLeft {
    align-self: center;
}

.roundBackgroundIndividual {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #FCDC4A;
    align-items: center;
}

.circleMargarida {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: white;
}

.grid--2rowsCircle {
    grid-template-rows: 2fr 1fr;
}

.roundMargaridaPlaceholder {
    align-self: self-end;
    justify-self: center;
}

.aboutInsideCircle p {
    margin-bottom: 0.4rem;
}

.personaNameCircle {
    font-size: 1.2rem;
    font-weight: 400;
}

.personaTxtCircle,
.personaNameCircle {
    justify-self: center;
}

.scenarioExpectations {
    width: 66%;
    display: flex;
    justify-self: center;
}

.scenarioExpectationsToJourney {
    display: flex;
    justify-content: center;
}

.userJourneyScenario-txt {
    padding-right: 0.8rem;
}

.userJourneyExpectations-txt {
    padding-left: 0.8rem;
}


.userJourneyScenario-txt,
.userJourneyExpectations-txt {
    width: 33%;
    font-size: 1.2rem;
}

.userJourneyExpectations {
    display: flex;
    justify-content: space-around;
}


/* ************************* */
/* USER JOURNEY - CHANGE JOB */
/* ************************* */
.journeyGoalPresentation,
.userJourneyPresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}

.userJourneyPresentation {
    margin-top: 2.4rem;
}

/*
.userJourneyProcessDefinition {
    margin-bottom: 2rem;
}*/

/* ****************************** */
/* MARGARIDA USER JOURNEY TO GOAL */
/* ****************************** */

.margaridaUserJourneyToGoal {
    margin-bottom: 2.4rem;
}

.arrowTxtIndividual {
    display: flex;
    justify-content: center;
    color: #292562;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

.userJourneyStepsButton {
    color: #292562;
    height: 4.8rem;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    border: 1px solid #292562;
    background-color: #fff;
}

.userJourneySteps p {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.userJourneyStepsButton:link,
.userJourneyStepsButton:visited {
    transition: all 0.3s;
}

.userJourneyStepsButton:hover,
.userJourneyStepsButton:active {
    background-color: #292562;
    color: white;
}

.grid--9-cols {
    grid-template-columns: repeat(9, 1fr);
}

.userJourneyStepsMainTitle,
.userJourneySteps {
    font-size: 1.2rem;
    display: flex;
    /*text-align: center;*/
    align-items: center;

}

.userJourneyStepsMainTitle {
    padding-left: 2.4rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/* **************** */
/* USER JOURNEY MAP */
/* **************** */
.userJourneyMap {
    display: none;
    margin-bottom: 8.8rem;
}

.userJourneyMap {
    background-color: rgba(201, 200, 216, 0.1);
    border-radius: 1.6rem;
    /* border: 1px solid rgba(201, 200, 216, 1);*/
}

.userJourneyMap {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.userJourneyMap.visible {
    display: block;
    opacity: 1;
}

.grid--9-cols-4-rows {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 4;
}

.titleRow {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
    text-align: center;
}

.userJourneyAnswers {
    /* text-align: center;*/
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1.6rem;
}

.userJourneySingleAnswer {
    margin-bottom: 0.4rem;
}

.userJourneyAnswersEmojis {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1.6rem;
    font-size: 2.4rem;
    justify-self: center;
}

/* **************************** */
/* ANALYSES MAP - OPPORTUNITIES */
/* **************************** */
.opportunitiesSelection {

    margin-bottom: 8.8rem;
}

.opportunitiesFromJourneyMapBtn {
    width: 100%;
    justify-self: center;
    color: #fff;
    height: 4.2rem;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    padding: 0.8rem;
    background-color: rgba(41, 37, 98, 0.8);
}

.opportunitiesBtnTitle {
    align-items: center;
}

.allOpportunitiesPostIt {
    background-color: rgba(201, 200, 216, 0.1);
    border-radius: 0 0 1.6rem 1.6rem;
    padding-bottom: 2.4rem;
}

.opportPostItNew p,
.opportPostItSelected p {
    font-size: 1rem;
    text-align: center;
}

.opportPostItNew,
.opportPostItSelected {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 0.8rem;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);

}

.opportPostItNew {
    background-color: rgba(201, 200, 216, 0.5);
}

.opportPostItSelected {
    background-color: rgba(191, 189, 208, 1);
}

.opportunitiesPostIt-col-2 {
    grid-column: 2;
}

.opportunitiesPostIt-col-3 {
    grid-column: 3;
}

.opportunitiesPostIt-col-4 {
    grid-column: 4;
}

.opportunitiesPostIt-col-5 {
    grid-column: 5;
}

.opportunitiesPostIt-col-6 {
    grid-column: 6;
}

.opportunitiesPostIt-col-7 {
    grid-column: 7;
}

.opportunitiesPostIt-col-8 {
    grid-column: 8;
}

.opportunitiesPostIt-col-9 {
    grid-column: 9;
}

.opportunitiesPostIt-col-1,
.opportunitiesPostIt-col-2,
.opportunitiesPostIt-col-3,
.opportunitiesPostIt-col-4,
.opportunitiesPostIt-col-5,
.opportunitiesPostIt-col-6,
.opportunitiesPostIt-col-7,
.opportunitiesPostIt-col-8,
.opportunitiesPostIt-col-9 {
    padding-top: 1.6rem;
}

.opportunitiesPostIt-col-4 {
    margin-bottom: 0.8rem;
}

.subtitle-right-bottom {
    align-content: end;
}

/* **************************************** */
/* LECTURE - 03-IDEATE - REDEFINE CHALLENGE */
/* **************************************** */
.uxSheme-phaseIdeate {
    margin-bottom: 1.6rem;
}

.uxStepDefine {
    margin-bottom: 1.6rem;
}

.redefineChallenge {
    margin-bottom: 8.8rem;
}

.sentenceToInsight {
    color: #292562;
    border: 1px solid #292562;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
}

.sentenceToInsight-3-3,
.sentenceToInsight-2-3,
.sentenceToInsight-1-3 {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
}


.grid--6-rows {
    grid-template-rows: 6;
}



.grid--9-rows {
    grid-template-rows: repeat(9, 1fr);
}


.grid--7-rows {
    grid-template-rows: 7;
}

/**/

/* ************ */
/* HOW MIGHT WE */
/* ************ */
.grid--15-rows {
    grid-template-rows: 15;
}

/**/

/* *********************************** */
/* HOW MIGHT WE - PROPOSITIONS MATRIX  */
/* *********************************** */
.matrixPlaceholder {
    margin-top: 2.4rem;
    margin-bottom: 8.8rem;
}

/* MATRIX --- GRID - ALL-BUTTONS + ARROWS */
.matrixBtnArrowDown,
.matrixBtnArrowUp,
.matrixBtnArrowRight,
.matrixBtnArrowLeft {
    display: flex;
}

.matrixBtnArrowDown,
.matrixBtnArrowUp {
    justify-content: center;
}

.arrow-left,
.arrow-right {
    align-self: center;
}

.matrixBtnArrowRight {
    justify-content: right;
    align-items: center;
}

.matrixBtnArrowLeft {
    align-self: center;
}

.lowImpactBtn,
.highEffortBtn,
.lowEffortBtn,
.highImpactBtn {
    padding: 0.6rem;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: #292562;
    color: white;
}

.highEffortBtnPlaceholder {
    display: flex;
    justify-content: right;
}


.lowEffortBtnPlaceholder {
    grid-column: 1;
    grid-row: 3;
}


.arrow-up {
    border-right: 0.8rem solid transparent;
    border-left: 0.8rem solid transparent;
    border-bottom: 1.2rem solid rgba(201, 200, 216, 1);
    margin-top: 1.6rem;
}

.arrow-left,
.arrow-right {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.arrow-down {
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-top: 1.2rem solid rgba(201, 200, 216, 1);
    margin-bottom: 1.6rem;
}

.arrow-left {
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-right: 1.2rem solid rgba(201, 200, 216, 1);

}

/* MATRIX --- BTN - UP - DOWN - LEFT - RIGHT */
.matrixBtnArrowUp {
    grid-column: 5;
    grid-row: 1;
    display: inline;
    justify-items: center;
}

.matrixBtnArrowDown {
    grid-column: 5;
    grid-row: 9;
    display: inline;
    justify-items: center;
}

.matrixBtnArrowLeft {
    grid-column: 1;
    grid-row: 5;
}

.matrixBtnArrowRight {
    grid-column: 9;
    grid-row: 5;
}


/* MATRIX --- LOW EFFORT - HIGH IMPACT - top-left */
.lowEffort-highImpact {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    border-bottom: 1px solid #292562;
    border-right: 1px solid #292562;
    background-color: rgba(201, 200, 216, 0.5);
}

.topLeft-01 {
    grid-column: 1;
    grid-row: 2;
}

.topLeft-02 {
    grid-column: 1;
    grid-row: 3;
}

.topLeft-03 {
    grid-column: 2;
    grid-row: 1;
}

.topLeft-04 {
    grid-column: 2;
    grid-row: 3;
}

.topLeft-05 {
    grid-column: 3;
    grid-row: 1;
}

.topLeft-06 {
    grid-column: 3;
    grid-row: 2;
}

.topLeft-07 {
    grid-column: 3;
    grid-row: 3;
}

/* MATRIX --- HIGH IMPACT - HIGH EFFORT - top-right */
.highImpact-highEffort {
    grid-column: 6 / 9;
    grid-row: 2 / 5;
    border-bottom: 1px solid #292562;
    border-left: 1px solid #292562;
    background-color: rgba(201, 200, 216, 0.1);
}

.topRight-01 {
    grid-column: 1;
    grid-row: 1;
}

.topRight-02 {
    grid-column: 1;
    grid-row: 2;
}

.topRight-03 {
    grid-column: 1;
    grid-row: 3;
}

.topRight-04 {
    grid-column: 3;
    grid-row: 1;
}

.topRight-05 {
    grid-column: 3;
    grid-row: 2;
}

.topRight-06 {
    grid-column: 3;
    grid-row: 3;
}

/* MATRIX --- LOW IMPACT - LOW EFFORT - bottom-left */
.lowImpact-lowEffort {
    grid-column: 2 / 5;
    grid-row: 6 / 9;
    border-top: 1px solid #292562;
    border-right: 1px solid #292562;
    background-color: rgba(201, 200, 216, 0.1);
}

.bottomLeft-01 {
    grid-column: 1;
    grid-row: 1;
}

.bottomLeft-02 {
    grid-column: 1;
    grid-row: 2;
}

.bottomLeft-03 {
    grid-column: 1;
    grid-row: 3;
}

.bottomLeft-04 {
    grid-column: 2;
    grid-row: 1;
}

.bottomLeft-05 {
    grid-column: 2;
    grid-row: 3;
}

/* MATRIX --- LOW IMPACT - HIGH EFFORT - bottom-right */
.lowImpact-highEffort {
    grid-column: 6 / 9;
    grid-row: 6 / 9;
    border-top: 1px solid #292562;
    border-left: 1px solid #292562;
    background-color: rgba(201, 200, 216, 0.1);
}

.bottomRight-01 {
    grid-column: 2;
    grid-row: 1;
}

/***  ***/
.proposal {
    font-size: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}



/* ************************************** */
/* HOW MIGHT WE - SKETCHING / STORYBOARD  */
/* ************************************** */


.grid--5-colsStoryboard {
    grid-template-columns: 1.25fr 1.25fr 1.25fr 1.25fr 2fr;
}

.grid--3-colsStoryboard {
    grid-template-columns: 1fr 1fr 2fr;
}


/**/

/* ********************** */
/* LECTURE - 04-PROTOTYPE */
/* ********************** */


/**/


/* ***************** */
/* LECTURE - 05-TEST */
/* ***************** */


/* usabilityTestReporting */
/* usabilityTestReporting-steps*/

.grid--6-cols {
    grid-template-columns: repeat(6, 1fr);
}

.uxSheme-phaseTest,
.uxSheme-phasePrototype {
    margin-top: 2rem;
    margin-bottom: 8.8rem;
}

/* usabilityTestReporting-prototype */
/* usabilityTestReporting-plan */

.circleDiamondScheme {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    margin-bottom: 8.8rem;
}

.circle {
    display: flex;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid #292562;
    margin-right: 3rem;
}

.txtUsabilityTestSchemeDiamond {
    transform: rotate(-45deg);
}

.txtUsabilityTestSchemeDiamond,
.txtUsabilityTestScheme {
    font-size: 1rem;
    align-self: center;
    text-align: center;
}

.arrow-rightTestScheme,
.arrow-right,
.arrow-left,
.arrow-down,
.arrow-up {
    height: 0;
    width: 0;
}

.arrow-rightTestScheme,
.arrow-right {
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 1.2rem solid rgba(201, 200, 216, 1);
}

.arrow-rightTestScheme {
    margin-right: 3rem;
}

.diamond {
    display: flex;
    width: 6.4rem;
    height: 6.4rem;
    border: 1px solid #292562;
    transform: rotate(45deg);
    margin-right: 3rem;
}

/* usabilityTestReporting-script*/
/* usabilityTestReporting-test */
/* usabilityTestReporting-report */

/* ************** FOOTER ************************* */





/* ****************************************** */
/* ****************************************** */
/* ****************************************** */


.hexagon {
    transform: rotate(90deg);
    width: 50px;
    height: 29px;
    background-color: #292562;
    position: relative;
    margin: 25px;
}

.hexagon::before,
.hexagon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.hexagon::before {
    top: -14.5px;
    border-bottom: 14.5px solid #292562;
}

.hexagon::after {
    bottom: -14.5px;
    border-top: 14.5px solid #292562;
}


/* ********************************************************************************************** */

/*
8-16-24-32-40-48-56-64-72-80-88-96-104-112-120-
128-136-144-152-160-168-176-184-192-200-208-216-
224----...280-288-296-304-312
*/
.title-1 {
    font-size: 1.6rem;
    font-weight: 300;
}

.title-2 {
    font-size: 14px;
}



.grid--5-rows {
    grid-template-rows: repeat (5, 1fr);
}

.icon {
    font-size: 2.4rem;
    color: #555;
}

/* *************************************** */
/* *************************************** */

.linkSamePage {
    display: flex;
    font-size: 10px;
}

.linkTo {
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 8px;
}

/* *************************************** */
/* *************************************** */
/* *************************************** */
/* *************************************** */
/* *************************************** */
/*** ******************************************** ***/
/*** ******************************************** ***/
/*** ******************************************** ***/
/* *************************************** */
/* *************************************** */




.uxMethodSchemeRight {
    scale: 50%;
}

.uxMethodSchemeRight,
.uxDefineRight,
.uxIdeateRight,
.uxPrototypeRight,
.uxTestRight {
    justify-self: right;
}

/* ************* */

.underConstructionWheels {
    align-self: center;
    height: 8rem;
}

.underConstructionSubtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #333;
}

/*********************************************/

.grid--2-colsTable {
    width: 100%;
    grid-template-columns: 1fr, 1fr;
}

.presentationHomepage {
    height: 16rem;
    margin-bottom: 6.4rem;
}

.uxStepTest img,
.uxStepPrototype img,
.uxStepIdeate img,
.uxStepDefine img {
    padding-right: 4px;
}

.uxStepTest p,
.uxStepPrototype p,
.uxStepIdeate p,
.uxStepDefine p,
.uxMethodology-empathize p {
    padding-right: 16px;
}





/* LECTURE ux methodology - SECTION */
.uxStepTest,
.uxStepPrototype,
.uxStepIdeate,
.uxStepDefine {
    display: flex;
    align-items: center;
}

/* **************************** */
/* comparisons table experiment */
/* **************************** */

.competitorsComparisonsTable {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

.grid--4-colsLogos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--4-cols {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.logosSmall {
    height: 1rem;

}

/* logos */
.comparisonsTableHeader {
    justify-self: center;
}

.comparisonsTitle p {
    justify-self: center;
}