* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size default 16px */
    font-size: 62.5%;
    /* 10px/ 16px= 0.625= 62.5%*/
    /* percentage of user's browser font-size setting */
    overflow-x: hidden;
    background-color: #eeeeee;
}

.bodyLanding,
body {
    /* weight from 100 to 900 */
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 300;
    color: #111;
    overflow-x: hidden;
    max-width: 120rem;
    padding-right: 8rem;
    padding-left: 8rem;
    margin: auto;
}

body {
    background-color: white;
}



/* *********** */
/* HEADER MAIN */
/* *********** */
header {
    margin-top: 8.8rem;
    margin-bottom: 12.8rem;
}

/*
.headerMain {
    margin-bottom: 12rem;
    
}*/

/* **************** */
/* HEADER MAIN-left */
/* **************** */
.grid {
    display: grid;
}

.grid--2-colsHeaderMain {
    grid-template-columns: repeat(2, 1fr);
}

.grid--2-colsQA,
.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.headerMainLeft {
    display: flex;
    align-items: center;
}

.logoDd {
    padding-right: 2.4rem;
    height: 4.2rem;
}

.myName {
    text-decoration: none;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 500;
    color: #111;
}


/* ***************** */
/* HEADER MAIN-right */
/* ***************** */
/*
.headerMainRight {}*/
.grid--3-colsHeaderMainRight,
.grid--3-colsQA,
.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.headerMainPortfolio {
    margin-right: 20%;

}

/* nav-header-titles */
.nav-header-titles {
    font-size: 1.2rem;
}



/* nav-color-lines */
.linkPortfolioPlaceholder {
    border-top: 2px solid #292562;
}

.linkCvPlaceholder {
    border-top: 2px solid #FCDC4A;
}

.contactLinksTop {
    border-top: 2px solid #6C92E6;
}

.linkCaseStudy-second,
.headerLinkTitle,
.headerLinkCurriculumVitae {
    font-size: 1.6rem;
    font-weight: 300;
    color: #333;
}






.headerLinkPortfolio {
    margin-top: 0.8rem;
    padding-right: 0.2rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #333;
}



.linkMakingOfPlaceholder {
    font-size: 1.2rem;
}

.linkMakingOf {
    text-decoration: none;
    color: #333;
}

.contactsHeader {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
}

.contactLinksTop {
    /*
    border-top: 1px solid #292562;*/
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
}

.contactMail,
.jewelryDesignBrand {

    padding-right: 1.6rem;

}

.contactLinksBottom {
    padding-bottom: 0.8rem;
}

.contactLinksTop,
.contactLinksBottom {
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    color: #555;
}

.jewelryDesignBrand:link,
.jewelryDesignBrand:visited,
.contactHeaderGithub:link,
.contactHeaderLinkedin:link,
.contactHeaderGithub:visited,
.contactHeaderLinkedin:visited {
    transition: all 0.3s;
}

.jewelryDesignBrand:hover,
.jewelryDesignBrand:active,
.contactHeaderGithub:hover,
.contactHeaderLinkedin:hover,
.contactHeaderGithub:active,
.contactHeaderLinkedin:active {
    background-color: black;
    color: white;
}


.jewelryDesignBrand,
.contactHeaderLinkedin,
.contactHeaderGithub {
    text-decoration: none;
    cursor: pointer;
    color: #555;
}

.linkCaseStudy-second,
.headerLinkPortfolio,
.headerLinkCurriculumVitae {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

/* ********************** */
/* LANDING - PRESENTATION */
/* ********************** */
.bodyLanding {
    /*
    background-color: linear-gradient(to bottom-right, #B8D5E6, #fff);*/

    background: linear-gradient(135deg, #b8d5e6 30%, #fff);
}

.landingPhoto {
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
}

.meLandingPhoto {
    width: 100px;
    margin-right: 4.8rem;
}

.landingText {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
    margin-right: 4.8rem;
    text-shadow: 4px 4px 5px rgba(19, 9, 159, 0.1);
}

.landingTextSpan {
    font-weight: 600;
    color: #fff;
    /*
    animation-name: letterChangeColor;
    animation-duration: 4s;*/
}

/*
@keyframes letterChangeColor {
    from {
        color: #222;
    }

    to {
        color: #111;
    }
}
*/


.textPassions p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 2.4rem;
    margin-right: 4.8rem;
}

.currentlyText {
    font-size: 1rem;
    margin-top: 1.6rem;
    margin-right: 4.8rem;
}

.landingPresentationGrid {
    margin-top: 8.8rem;
    margin-bottom: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
}

/*
.landingPresentationGrid {
    display: grid;
    grid-template-columns: 2;
    column-gap: 2.4rem;
}
*/
/* **** */
/* left */



/* **************************** */
/* ********** right************ */

.landingBoxes {
    display: flex;
    align-items: center;
}

.lectureBox {
    height: 20rem;
    width: 70%;
    margin-left: 15%;
    padding: 1.6rem;
    border-radius: 1.6rem;
    background-color: #333;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;

    box-shadow: 4px 4px 5px rgba(19, 9, 159, 0.1);

}

/*
.caseStudyTitle {}
*/
.caseStudySubTitle {
    align-self: center;
}

.lectureBoxLink {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.lectureBoxLink:link,
.lectureBoxLink:visited {
    transition: all 0.3s;
}

.lectureBoxLink:hover,
.lectureBoxLink:active {
    color: #6C92E6;
}


/*
.grid--3-rows {
    display: grid;
    grid-template-rows: 3;
}*/

/*
.fullWBox {
    height: 30rem;
    width: 100%;
    border-radius: 1.6rem;
    background-color: #292562;
    box-shadow: 4px 4px 5px rgba(19, 9, 159, 0.1);
}

.thirtyWBox {
    display: flex;
    justify-content: center;
}

.cvBox {
    font-size: 4.8rem;
    background-color: #6C92E6;
    
    animation-name: changeColor;
    animation-duration: 4s;
}
*/
/*
@keyframes changeColor {
    from {
        background-color: #6C92E6;
    }

    to {
        background-color: #FCDC4A;
    }
}*/

/*
.whiteBentoRowQuerie {
    display: flex;
}

.whiteBentoRow {
    display: none;
}
*/
/*
.qrCode {
    height: 12rem;
}
*/


.landingSliderPlaceholder {
    height: 30rem;
    width: 100%;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.landingSlider {
    display: flex;
    background-color: #fff;

}

.landingSlide {
    height: 30rem;
    width: 60rem;
    display: flex;

    margin-right: 2.4rem;
}

.landingSliderBtn {}

.landingSliderLeft,
.landingSliderRight {
    position: absolute;
    top: 50%;
}

.landingSliderLeft {
    left: 0;
}

.landingSliderRight {
    right: 0;
}

/* *************** */
/* CV-PRESENTATION */
/* *************** */

.cvPresentationPlaceholder {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 7.2rem;
}

.cvPresentationPhoto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mePhoto {
    width: 100px;
}

.cvHelloText {
    justify-self: center;
    align-self: center;
    font-size: 1.8rem;
    line-height: 1.4;
}

/* ****** */
/* FOOTER */
/* ****** */
.footerLanding {
    border-top: 0.5px solid #fff;
}

.footerLanding,
footer {
    height: 8rem;
    margin-top: 8.8rem;
}

footer {
    border-top: 0.5px solid #999;
}

/*
.footerLandingContent,*/
.footerContent {
    justify-self: right;

    display: flex;
}

/*
.footerLandingContent {
    color: #fff;
}*/

.footerContent {
    color: #333;
}

.currentYear,
.footerMyName {
    align-self: center;
    font-size: 1.2rem;
}

.registeredMark {
    font-size: 2.4rem;
    padding-top: 0.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

/* ******************************** */
/* ******************************** */


/* *************** */
/* CURRICULUM-MAIN */
/* *************** */
.cvMain {
    margin-bottom: 8.8rem;
}

/* ******* */
/* CV-LEFT */
/* ******* */
.grid--2-cols1fr2fr {
    grid-template-columns: 1fr 2fr;
}

.grid--2-rows {
    grid-template-rows: 1fr 1fr;
}

.cvSectionLeft {
    padding-right: 8rem;
}

.cvTitleAttachforLaptopQ {
    display: none;
}

.cvTitleAttach {
    display: flex;
}

.heading-1 {
    font-size: 3rem;
    font-weight: 350;
    margin-bottom: 4.2rem;
}

.personalInfo {
    margin-bottom: 4.2rem;
}

.cvLinkedin,
.cvGithub {
    text-decoration: none;
    cursor: pointer;
    color: #555;
    font-size: 1.2rem;
}

.softSkills {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 4.2rem;
}

.cvPersonalInfoTitle,
.cvSectionTitlePreviousEducation,
.cvSectionTitlePreviousWorkExperience,
.cvSectionTitlePreviousWork,
.cvSectionTitleEducation,
.cvSectionTitleLanguage,
.cvSectionTitleComputerSkills {
    margin-bottom: 1.6rem;
}

.cvSectionTitle {
    margin-bottom: 2.4rem;
}

.personalInterests {
    margin-bottom: 8.8rem;
}

/* ******** */
/* CV-RIGHT */
/* ******** */
.cvSectionTitleEducation {
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
}

.landingLogosE,
.landingLogosF {
    height: 1.6rem;
    padding-left: 1.6rem;
}

.grid--2-cols--3-rows-cv {
    grid-template-columns: 0.55fr 2.55fr;
    grid-template-rows: 3.6rem 3.6rem 3.6rem;
    column-gap: 0.8rem;
    margin-bottom: 1.6rem;
}

.date {
    font-size: 1.2rem;
    line-height: 1.6rem;
    justify-self: right;
}

.date01,
.date02,
.date03 {
    grid-column: span 1;
}

.info {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.date01,
.info01 {
    grid-row: 1;
}

.date02,
.info02 {
    grid-row: 2;
}

.date03,
.info03 {
    grid-row: 3;
}

.grid--3-cols--4-rows-sk {
    grid-template-columns: 0.55fr 1.25fr 1.25fr;
    grid-template-rows: repeat(4, 3.6rem);
}

.infoSoftware-skill01,
.infoSoftware-skill03,
.infoSoftware-skill05,
.infoSoftware-skill07 {
    grid-column: 2;
}

.infoSoftware-skill01,
.infoSoftware-skill02 {
    grid-row: 1;
}

.infoSoftware-skill02,
.infoSoftware-skill04,
.infoSoftware-skill06,
.infoSoftware-skill08 {
    grid-column: 3;
    justify-self: right;
}

.infoSoftware-skill03,
.infoSoftware-skill04 {
    grid-row: 2;
}

.infoSoftware-skill05,
.infoSoftware-skill06 {
    grid-row: 3;
}

.infoSoftware-skill09 {
    grid-row: 4;
    grid-column: 2;
}

.infoSoftwareJS,
.infoSoftwareCSS,
.infoSoftwareHTML,
.infoSoftwareFIG,
.infoSoftwareILLUST,
.infoSoftwareINDES {
    font-size: 1.2rem;
}

.sectionLine {
    margin-top: 2.4rem;
    border-bottom: 1px solid #999;
}

.previousExperience {
    margin-top: 4.2rem;
}

.grid--2-cols--2-rows-cv {
    grid-template-columns: 0.55fr 2.55fr;
    grid-template-rows: 3.6rem 3.6rem;
    column-gap: 0.8rem;
}

.impact-effort-matrix {
    height: 32rem;
    margin-bottom: 8.8rem;
}

/*
.mini-grid {
    height: 9.6rem;
    width: 9.6rem;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.mini-grid-inside-d,
.mini-grid-inside-c,
.mini-grid-inside-b,
.mini-grid-inside-a {
    display: grid;
    grid-template-columns: 3.2rem 3.2rem 3.2rem;
    grid-template-rows: 3.2rem 3.2rem 3.2rem;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
}

.mini-grid-inside-a {
    grid-column: 1;
    grid-row: 1;
}

.mini-grid-inside-b {
    grid-column: 1;
    grid-row: 2;
}

.mini-grid-inside-c {
    grid-column: 2;
    grid-row: 1;
}

.mini-grid-inside-d {
    grid-column: 2;
    grid-row: 2;
}

*/




.grid--3-cols--1-row-sk {
    grid-template-columns:
        0.55fr 1.25fr 1.25fr;
    grid-template-rows: 3.6rem;
}

/* ************ */
/* CV biography */
/* ************ */

.biographyTitle {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1.6rem;
}

.biographySentence {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
}

.biographyText {
    font-size: 1.2rem;
    margin-bottom: 4.2rem;
    line-height: 1.6rem;
}

.biographyText p {
    margin-bottom: 0.8rem;
}





/* ******************************** */
/* ******************************** */


/* ***************** */
/* SITE-PRESENTATION */
/* ***************************************** */
/* LECTURE-BRIEFING-PRESENTATION-METHODOLOGY */
/* ***************************************** */
.sitePresentationUI {
    min-height: 10rem;
    border-top: 1px solid black;
    margin-bottom: 8.8rem;
}

.sitePresentation {
    min-height: 30rem;
    margin-bottom: 8.8rem;
}

.sitePresentationContainer {
    margin-bottom: 1.6rem;
}

.grid--3-colsSitePresentation {
    grid-template-columns: repeat(3, 1fr);
}

.templatePresentation01,
.templatePresentation02,
.templatePresentation03 {
    height: 30rem;
}

/****************************/
/* COL-01 */
.grid--2cols {
    grid-template-columns: 2;
}

.grid--2cols--3rows-briefing {
    grid-template-columns: 2;
    grid-template-rows: 1fr 1fr 1fr;
}

.briefingEdit-logo {
    background-color: black;
    grid-column: 1;
    grid-row: 1;
    padding-left: 0.8rem;
}

.briefingTitle {
    background-color: black;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: end;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    padding-left: 0.8rem;
}

.briefingWord {
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
}

.titleWhiteLettersSmall {
    font-size: 1.1rem;
}

.briefingCol01-Row03 {
    grid-column: 1;
    grid-row: 3;
    background-color: black;
}

/* COL-02 */
.briefingCol02-Row01 {
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(201, 200, 216, 0.2);
}

.briefingSubTitle {
    background-color: rgba(201, 200, 216, 0.2);
    display: flex;
    align-items: end;
    grid-column: 2;
    grid-row: 2;
    font-size: 1.1rem;
    font-weight: 400;
}

.subTitleYellowBackground {
    background-color: #FCDC4A;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    display: flex;
    align-items: end;
}

.arrowBckYellow {
    line-height: 1;
    font-size: 1.2rem;
}

.briefingCol02-Row03 {
    grid-column: 2;
    grid-row: 3;
    background-color: rgba(201, 200, 216, 0.2);
}

/* COL 02 */
.templatePresentation02 {
    padding-left: 0.4rem;
    background-color: rgba(201, 200, 216, 0.2);
}

.grid--3rows-briefingSmallText {
    grid-template-rows: 1fr 1fr 1fr;
}

.lectureTitlePlaceholder {
    grid-row: 2;
    display: flex;
    align-items: end;
}

.lectureTitleBriefing {
    color: #292562;
    font-size: 3.2rem;
    font-weight: 350;
}

.briefingTxt {
    grid-row: 3;
    font-size: 1.2rem;
    line-height: 1.3;
    padding-right: 1.6rem;
}

.txtColor {
    color: #292562;
    font-weight: 400;
}

/* ****** */
/* COL 03 */
.templatePresentation03 {
    background-color: rgba(201, 200, 216, 0.2);
}

.grid--2rows-briefingUx {
    grid-template-rows: 20rem 10rem;
}

/* row-1 */
.hexagonsGroupQuerie {
    margin-top: 0.8rem;
    grid-row: 1;
}

.uxTitlePlaceholder {
    margin-bottom: 0.6rem;
}

.uxDesignTitle {
    font-size: 1.6rem;
    font-weight: 300;
    color: #292562;
}

.uxHexagonPlaceholder {
    display: flex;
    justify-content: center;
}

.hexagonGroup-drawing {
    height: 12rem;
}

.hexagonsGroupSubtitlesQuerie {
    font-size: 1rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

/* row-2 */
.caseStudySubTitleHeader {
    grid-row: 2;
}

.navCsSubtitle-2-Header {
    font-size: 1.2rem;
    line-height: 1.4;
}

.groupProject {
    align-self: self-end;
}

.caseStudySubTitleTextLine {
    font-size: 1rem;
    line-height: 1.2;
}


/* *************** */
/* *************** */
/* playingHexagons */

.hexagonsContainer {
    height: 10rem;
    margin-bottom: 12rem;
}

.hexagonsAllPhases {
    display: grid;
    grid-template-columns: 5;
}

.empathize {
    grid-column: 1;
}

.define {
    grid-column: 2;
}

.ideate {
    grid-column: 3;
}

.prototype {
    grid-column: 4;
}

.test {
    grid-column: 5;
}

.playingHexagons-phases {
    height: 6.4rem;
    width: 18rem;
    display: grid;
    grid-template-columns: 9rem 5rem;
    grid-template-rows: 6.4rem 2rem;
}

.playingHexagons-phasesImg {
    height: 6rem;
}

.phaseModule {
    display: flex;
    align-items: end;
    justify-content: right;
}

.phaseIndexTxt {
    font-size: 1rem;
}

.hexagon-mini-btn {
    justify-self: end;
    margin-top: 0.4rem;
}

.hexagonBtn-xs {
    display: block;
    height: 1.6rem;
    width: 1.8rem;
    background: #292562;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    text-decoration: none;
    transition: background 0.1s ease;
}

.hexagonBtn-xs:link,
.hexagonBtn-xs:hover {
    background: #FCDC4A;
}










/* ********************************** */
/* turn off when media queries */
.templatePresentation03NewRow {
    display: none;
}


/* ***************************************************** */
/* LECTURE DEVELOPMENT - 01-EMPATHIZE - 02-DEFINE - 03-IDEATE - 04-PROTOTYPE - 05-TEST */
/* ***************************************************** */
.uxMethodology {
    margin-bottom: 24rem;
}



.uxMethodology-allPhases {
    height: 39.2rem;
}

.grid--2-colsUxMethodology {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
}

/*
.test-col-right,
.test-col-left,
.prototype-col-right,
.prototype-col-left,
.ideate-col-left,
.ideate-col-right,
.define-col-right,
.define-col-left,
.empathize-col-left,
.empathize-col-right {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    border-radius: 2.4rem;
    /*
    border: 1px solid rgba(201, 200, 216, 0.9);
}
*/

/*  col-01 left */

/* row-01 */




/*drawingSize*/
/*
.arrowPersonasBck*/

/*
.empathizeKeyWordsArrow {}
.arrowBlueEmpathize {}
*/

/*.arrowTxtBlue*/


/* ******************************************* */
/* CONTENT SELECTION - BUILDING PROTO PERSONAS */
/* ******************************************* */
.protoPersonasContentSelection {
    margin-bottom: 12em;
}

.refinedPersonasContentSelectionTitles,
.protoPersonasContentSelectionTitles {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1.6em;
}

.targetAudience {
    margin-bottom: 1.6rem;
}

.targetAudience p {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.txtTarget {
    color: #292562;
    font-weight: 400;
    background-color: #FCDC4A;
}





/* cards - personas */
.personasResearchSubtitle {
    margin-bottom: 4rem;
}

.refinedPersonasGrid-2-cols,
.contentProtoPersonas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contentRefinedPersonas-maria,
.contentRefinedPersonas-telmo,
.contentRefinedPersonas-margarida,
.contentFinalPersona {
    width: 32.8rem;
}


.contentProtoPersonas-laura,
.contentProtoPersonas-antonio {
    width: 32.8rem;
    justify-self: center;
}

.arrowPersonasBck {
    display: flex;
    justify-content: space-around;
}

.arrow-upPage {
    color: #999;
}

.arrowTxt {
    display: flex;
    justify-content: center;
    color: #292562;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.roundBackground {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #FCDC4A;
    align-items: center;
}

/* txtTarget */

/* ******************* */
/* ******************* */
/* card-persona PERSONA PRESENTATION */

.drawingSize,
.emojidrawing {
    height: 8rem;
}

.txtCenter {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}

/* ***************************** */
/* UX RESEARCH - INTERVIEW GUIDE */
/* ***************************** */
.researchStrategy {
    margin-bottom: 20rem;
}

.researchStrategyTitles {
    margin-bottom: 4.8rem;
}

.interviewTitles {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

.interviewSubTitles {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.interviewSubTitles p {
    margin-bottom: 1.6rem;
}

/**/
/**/
/**/
/**/
/**/
/**/
.interviewGuide {
    width: 100%;
    /*
    display: flex;
    justify-content: space-between;*/
    margin-bottom: 20rem;
}

.interviewGuide-grid--2-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.interview-A-grid {
    grid-template-rows: repeat(3, 1fr);
}

.interview-Q-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*repeat(2, 1fr)*/
    row-gap: 1.6rem;
    column-gap: 1.6rem;
}

.interview-A-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*repeat(3, 1fr)*/
    row-gap: 1.6rem;
    column-gap: 1.6rem;
}

.interview-Q-A,
.interview-Q-A-lettersOnly {
    display: flex;
}

.interview-A-A {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.interview-Q-A-lettersOnly,
.interview-A-A,
.interview-Q-A {
    width: 15.4rem;
    height: 10.4rem;
    border-radius: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: rgba(41, 37, 98, 0.05);
    box-shadow: 4px 4px 5px rgba(201, 200, 216, 0.5);
}

.interview-Q-A-lettersOnly {
    font-size: 3.8rem;
    font-weight: 700;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 37, 98, 0.3);
}

.interview-Answers,
.interview-Questions {
    font-family: 1.2rem;
    align-self: center;
}

/*  ****** */
/* answers */
/* col-02 */

.interview-Q-grid {
    align-self: self-start;
}

.interview-Q-grid,
.interview-A-grid {
    justify-self: left;
}

/* ******** */
/* FINDINGS */
/* ******** */
.findings {
    margin-bottom: 7.2rem;
}





/* ***************************** */
/* COMPETITORS ANALYSES TABLE */
/* ***************************** */
.competitorsAnalysesSection {
    margin-bottom: 20rem;
}

.competitorsAnalysesTitles {
    margin-bottom: 3.6rem;
}

.competition {
    margin-bottom: 12rem;
}

.grid--2-colsCompetition {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
}

/**/
/**/




/* *********** */
/* table-left */
/* *********** */


/* competitorsAnalyses-columnLeft */

/* table */

.competitorsLogoPlaceholder {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logos {
    height: 2rem;
    display: flex;
    justify-content: space-around;
}

.btnDropdownComparisons,
.btnDropdown {
    height: 2.4rem;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    border: 0.5px solid #555;
    border-radius: 16px;
    color: #555;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
}

.btnDropdown p {
    grid-column: 2;
}

.dropdownArrow {
    font-size: 1.4rem;
    justify-self: center;
    grid-column: 3;
}

.btnDropdown:link,
.btnDropdown:visited,
.btnDropdownComparisons:link,
.btnDropdownComparisons:visited {
    transition: all 0.3s;
}

.btnDropdown:hover,
.btnDropdown:active,
.btnDropdownComparisons:hover,
.btnDropdownComparisons:active {
    background-color: #555;
    border-radius: 16px;
    color: white;
}

.grid--3-colsCompetitorDropdown {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6rem;
}

.competitorsLogoPlaceholderTable {
    height: 4rem;
    align-items: center;
}

.logosTable {
    height: 2rem;
}

.analisesContent {
    display: flex;
    padding: 0.8rem 0.8rem;
}

.hiddenMenuQ,
.hidden {
    display: none;
}

.response {
    justify-self: center;
    align-self: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.responseTxt {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.middleText {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.iconStar {
    color: #f4c804;
}

.comparisonsTitle {
    height: 2.4em;
    border-bottom: 0.5px dashed #999;
    align-items: center;
    justify-content: center;
}

.grid--4-cols05fr1fr {
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
}

.tableSubTitle {
    padding-left: 1.6rem;
}

.tableMiddle {
    justify-self: center;
}

/* ******************************* */
/* LECTURE DEVELOPMENT - 02-DEFINE */
/* ******************************* */

/* uxMethodology-allPhases */


/* ******************************* */
/* REFINED PERSONAS - USER JOURNEY */
/* ******************************* */

.personasRefinedOnlyMaria {
    display: none;
}

.finalMargarida {
    display: block;
}

/* **************************** */
/* FINAL PERSONA - USER JOURNEY */
/* **************************** */
/*
.finalPersona {}
*/
.contentFinalPersona {
    justify-self: center;
}

.personaMargaridaUserJourney {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
}

.finalPersonaInformation {
    height: 24.8rem;
    width: 66%;
    background-color: rgba(201, 200, 216, 0.1);
    border-radius: 4.8rem;
    padding: 2.4rem;

}

.roundBackgroundIndividual {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #FCDC4A;
    align-items: center;
}

.circleMargarida {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: white;
}

.grid--2rowsCircle {
    grid-template-rows: 2fr 1fr;
}

.roundMargaridaPlaceholder {
    align-self: self-end;
    justify-self: center;
}

.aboutInsideCircle p {
    margin-bottom: 0.4rem;
}

.personaNameCircle {
    font-size: 1.2rem;
    font-weight: 400;
}

.personaTxtCircle,
.personaNameCircle {
    justify-self: center;
}

.scenarioExpectations {
    width: 66%;
    display: flex;
    justify-self: center;
}

.scenarioExpectationsToJourney {
    display: flex;
    justify-content: center;
}

.userJourneyScenario-txt {
    padding-right: 0.8rem;
}

.userJourneyExpectations-txt {
    padding-left: 0.8rem;
}

.userJourneyScenario-txt,
.userJourneyExpectations-txt {
    width: 33%;
    font-size: 1.2rem;
}

.userJourneyExpectations {
    display: flex;
    justify-content: space-around;
}

/* ************************* */
/* USER JOURNEY - CHANGE JOB */
/* ************************* */
.journeyGoalPresentation,
.userJourneyPresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}

.userJourneyPresentation {
    margin-top: 2.4rem;
}

/*
.userJourneyProcessDefinition {
    margin-bottom: 2rem;
}*/

/* ****************************** */
/* MARGARIDA USER JOURNEY TO GOAL */
/* ****************************** */

.margaridaUserJourneyToGoal {
    margin-bottom: 2.4rem;
}

.arrowTxtIndividual {
    display: flex;
    justify-content: center;
    color: #292562;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

.userJourneyStepsButton {
    color: #292562;
    height: 4.8rem;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    border: 1px solid #292562;
    background-color: #fff;
}

.userJourneySteps p {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.userJourneyStepsButton:link,
.userJourneyStepsButton:visited {
    transition: all 0.3s;
}

.userJourneyStepsButton:hover,
.userJourneyStepsButton:active {
    background-color: #292562;
    color: white;
}

.grid--9-cols {
    grid-template-columns: repeat(9, 1fr);
}

.userJourneyStepsMainTitle,
.userJourneySteps {
    font-size: 1.2rem;
    display: flex;
    /*text-align: center;*/
    align-items: center;
}

.userJourneyStepsMainTitle {
    padding-left: 2.4rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/* **************** */
/* USER JOURNEY MAP */
/* **************** */
.userJourneyMap {
    display: none;
    margin-bottom: 8.8rem;
}

.userJourneyMap {
    background-color: rgba(201, 200, 216, 0.1);
    border-radius: 1.6rem;
    /* border: 1px solid rgba(201, 200, 216, 1);*/
}

.userJourneyMap {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.userJourneyMap.visible {
    display: block;
    opacity: 1;
}

.grid--9-cols-4-rows {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 4;
}

.titleRow {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
    text-align: center;
}

.userJourneyAnswers {
    /* text-align: center;*/
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1.6rem;
}

.userJourneySingleAnswer {
    margin-bottom: 0.4rem;
}

.userJourneyAnswersEmojis {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1.6rem;
    font-size: 2.4rem;
    justify-self: center;
}

/* *************************************** */
/* USER JOURNEY MAP 2_  GOAL: JOB - SLIDER */
/* *************************************** */

.user-journey-goal-job {
    display: flex;
    margin-bottom: 8.8rem;
}

.user-journey-title {
    height: 48rem;
    width: 4rem;
    background-color: #292562;
    border-radius: 1.6rem;
}

.user-journey-letters {
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    justify-self: center;
}

.journey-phases {
    height: 48rem;
    width: 10.4rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.steps-header-title {
    height: 3.2rem;
    width: 8.8rem;
    border-radius: 1.6rem;
    background-color: #292562;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.phases-panel {
    height: 10.4rem;
    width: 8.8rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #292562;
    border: 1px solid #292562;
    text-align: center;
    margin-bottom: 0.8rem;
}

.placeholder {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.grid--5-rowsSlider {
    flex: 0 0 20rem;
    /* fixed slide width */
    width: 32rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 3.2rem repeat(4, 10.4rem);
    row-gap: 0.8rem;
}

.steps-header {
    height: 3.2rem;
    width: 32rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(41, 37, 98, 0.3);
    color: #292562;
    margin-bottom: 0.8rem;
}

.panel-txt {
    padding-bottom: 0.8rem;
}

.phases-panel-slider {
    height: 10.4rem;
    width: 32rem;
    border-radius: 1.6rem;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(201, 200, 216, 0.1);
}

.sliderBtn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    pointer-events: none;
}

.chevron-left,
.chevron-right {
    color: #292562;
    font-size: 3rem;
    background: none;
    border: none;
    pointer-events: all;
    cursor: pointer;
}



/* **************************** */
/* ANALYSES MAP - OPPORTUNITIES */
/* **************************** */
.opportunitiesSelection {
    margin-bottom: 8.8rem;
}

.opportunitiesFromJourneyMap {
    color: #292562;
}

.allOpportunitiesPostIt {
    display: flex;
    /*
    background-color: rgba(201, 200, 216, 0.1);
    border-radius: 0 0 1.6rem 1.6rem;
    padding-bottom: 2.4rem;*/
}

.opportPostItSelected {
    margin-right: 2.4rem;
}

/*
.opportPostItNew p,*/
.opportPostItSelected p {
    font-size: 1rem;
    text-align: center;
}

/*
.opportPostItNew,*/
.postItSelected,
.opportPostItSelected {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-bottom: 0.8rem;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);

}

/*
.opportPostItNew {
    background-color: rgba(201, 200, 216, 0.5);
}
*/
.postItSelected,
.opportPostItSelected {
    width: 15.6rem;
    height: 10.4rem;
    border-radius: 1.6rem;
    background-color: rgba(201, 200, 216, 0.5);
}

/*
.opportunitiesPostIt-col-2 {
    grid-column: 2;
}

.opportunitiesPostIt-col-3 {
    grid-column: 3;
}

.opportunitiesPostIt-col-4 {
    grid-column: 4;
}

.opportunitiesPostIt-col-5 {
    grid-column: 5;
}

.opportunitiesPostIt-col-6 {
    grid-column: 6;
}

.opportunitiesPostIt-col-7 {
    grid-column: 7;
}

.opportunitiesPostIt-col-8 {
    grid-column: 8;
}

.opportunitiesPostIt-col-9 {
    grid-column: 9;
}

.opportunitiesPostIt-col-1,
.opportunitiesPostIt-col-2,
.opportunitiesPostIt-col-3,
.opportunitiesPostIt-col-4,
.opportunitiesPostIt-col-5,
.opportunitiesPostIt-col-6,
.opportunitiesPostIt-col-7,
.opportunitiesPostIt-col-8,
.opportunitiesPostIt-col-9 {
    padding-top: 1.6rem;
}

.opportunitiesPostIt-col-4 {
    margin-bottom: 0.8rem;
}

.subtitle-right-bottom {
    align-content: end;
}
    */

/* **************************************** */
/* LECTURE - 03-IDEATE - REDEFINE CHALLENGE */

/* ********************************** */
/* LECTURE DEVELOPMENT - 01-EMPATHIZE */
/* ********************************** */

/*  col-01 left */
/* ************ */

/*
.empathize-questions02 */
/* txtColor */

/* col-02 right */
/* ************ */
/* empathize-col-right */
/* empathize-userQuestions */

/* row-01 */

/*drawingSize*/

/* row-02 */

/* grid--2-cols */

/*
.empathizeKeyWordsArrow {}
.arrowBlueEmpathize {}
*/

/*.arrowTxtBlue*/

/* **************************************** */


.redefineChallenge {
    margin-bottom: 8.8rem;
}

.sentenceToInsight {
    display: flex;
    color: #292562;
    border: 1px solid #292562;
    border-radius: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.8rem;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
}

.sentenceToInsight-3-3,
.sentenceToInsight-2-3,
.sentenceToInsight-1-3 {
    /*
    display: flex;
    align-items: center;*/
    padding-left: 0.8rem;
}

.grid--6-rows {
    grid-template-rows: 6;
}

.grid--9-rows {
    grid-template-rows: 9;
}

.grid--7-rows {
    grid-template-rows: 7;
}

/**/
/* ------------------------------ */
/* IDEATE_ REDEFINE THE CHALLENGE */
/* ------------------------------ */

/* redefineChallenge */
/* redefineChallenge */

/* how the competitors would solve the challenge */

.dropdown-how-might-competition {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
    margin-bottom: 8rem;
}

.how-might-competitionBTN {
    width: 100%;
    background-color: #FCDC4A;
    border: none;
    border-radius: 1.6rem;
    cursor: pointer;
}

.how-might-competitionBTN:link,
.how-might-competitionBTN:visited {
    transition: all 0.3s;
}

.how-might-competitionBTN:hover,
.how-might-competitionBTN:active {
    background-color: #292562;
}

.competitionBTN-title {
    font-size: 1.4rem;
    color: #292562;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.competitionBTN-competitors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.8rem;
    border-bottom-right-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
    border: 0.5px solid #999;
}

/*
.allContent {}
*/
.hmw-row {
    width: 100%;
    border: 0.5px solid #999;
    border-radius: 1.6rem;
    padding: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6rem;
}

.hmw-row p {
    font-size: 1rem;
}




/* ************ */
/* HOW MIGHT WE */
/* ************ */
.grid--15-rows {
    grid-template-rows: 15;
}

/**/

/* *********************************** */
/* HOW MIGHT WE - PROPOSITIONS MATRIX  */
/* *********************************** */
.matrixPlaceholder {
    margin-top: 1.6rem;
    margin-bottom: 8.8rem;
}

.matrixTitle {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}

.matrixSubTitle01 {
    font-size: 1.4rem;
    margin-bottom: 4.8rem;
}

.votedPropositions {
    margin-bottom: 4.8rem;
}

.grid--3-colsMatrixPropositions {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.4rem;
}



.impactEffortMatrix {
    display: grid;
    grid-template-columns: 2;

    border: 1px solid rgba(201, 200, 216, 0.9);
    border-radius: 2.4rem;
    padding: 1.6rem;
}

.matrix-grid {
    width: 33%;
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
}

/* MATRIX --- GRID - ALL-BUTTONS + ARROWS */
.matrixBtnArrowDown,
.matrixBtnArrowUp,
.matrixBtnArrowRight,
.matrixBtnArrowLeft {
    display: flex;
}

.matrixArrow {
    font-size: 1.4rem;
}

.matrixBtnArrowDown {
    justify-content: center;
}

.matrixBtnArrowLeft,
.arrow-left,
.arrow-right {
    align-self: center;
}

.matrixBtnArrowRight {
    justify-content: right;
    align-items: center;
}

.lowImpact,
.highEffort,
.lowEffort,
.highImpact {
    font-size: 1rem;
    color: #292562;
}

.highEffortBtnPlaceholder {
    display: flex;
    justify-content: right;
}


/* MATRIX --- BTN - UP - DOWN - LEFT - RIGHT */
.matrixBtnArrowUp {
    grid-column: 3;
    grid-row: 1;
    display: inline;
    justify-items: center;
}

.matrixBtnArrowDown {
    grid-column: 3;
    grid-row: 5;
    display: inline;
    justify-items: center;
}

.matrixBtnArrowRight {
    grid-column: 5;
    grid-row: 3;
}

/* MATRIX --- LOW EFFORT - HIGH IMPACT - top-left */
.lowEffort-highImpact {
    height: 9.6rem;
    width: 9.6rem;
    grid-column: 2;
    grid-row: 2;
    justify-self: right;
}

.chosen-community,
.bottomLeft-01,
.topRight-01 {
    grid-column: 1;
    grid-row: 1;
}

.chosen-culturalDepartment,
.bottomLeft-02,
.topRight-02,
.topLeft-01 {
    grid-column: 1;
    grid-row: 2;
}

.chosen-partnerships01,
.lowEffortBtnPlaceholder,
.matrixBtnArrowLeft,
.bottomLeft-03,
.topRight-03,
.topLeft-02 {
    grid-column: 1;
    grid-row: 3;
}


.community,
.bottomRight-01,
.bottomLeft-04,
.topLeft-03 {
    grid-column: 2;
    grid-row: 1;
}

.bottomLeft-05,
.topLeft-04 {
    grid-column: 2;
    grid-row: 3;
}

.matrixBtnArrowUp,
.topRight-04,
.topLeft-05 {
    grid-column: 3;
    grid-row: 1;
}

.topRight-05,
.topLeft-06 {
    grid-column: 3;
    grid-row: 2;
}

.topRight-06,
.topLeft-07 {
    grid-column: 3;
    grid-row: 3;
}

/* MATRIX --- HIGH IMPACT - HIGH EFFORT - top-right */
.highImpact-highEffort {
    height: 9.6rem;
    width: 9.6rem;
    grid-column: 4;
    grid-row: 2;
}

/* MATRIX --- LOW IMPACT - LOW EFFORT - bottom-left */
.lowImpact-highEffort,
.lowImpact-lowEffort {
    height: 9.6rem;
    width: 9.6rem;
}

.lowImpact-lowEffort {
    grid-column: 2;
    grid-row: 4;
    justify-self: right;
}

/* MATRIX --- LOW IMPACT - HIGH EFFORT - bottom-right */
.lowImpact-highEffort {
    grid-column: 4;
    grid-row: 4;
}

/***  ***/
.mini-square {
    height: 2.4rem;
    width: 2.4rem;
    margin: 0.4rem;
    border: 1px solid #292562;
    border-radius: 0.8rem;
}

.proposal-square {
    background-color: rgba(201, 200, 216, 1);
}

.matrix-proposal-txt {
    grid-column: 2;
}

.proposal-txt {
    font-size: 1.2rem;
    align-self: center;
}


.impact-effort-matrix {
    height: 32rem;
    margin-bottom: 8.8rem;
}

.nonChosenProposals {
    width: 33%;
    font-size: 1rem;
    color: #555;
    padding-right: 2.4rem;
}

.nonChosenBtnDropdown {
    padding: 0.2rem 0.8rem;
    border-radius: 0.8rem;
    margin-bottom: 0.4rem;

    border: 1px solid #999;
}

.nonChosenBtnTxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nonChosenTxt {
    padding: 0.4rem;
}

/* MATRIX --- LOW EFFORT - HIGH IMPACT - chosen */
/* ******************************************** */
.lowEffort-highImpact-chosen {
    width: 100%;
    grid-column: 2;
}

.matrix-chosen-grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 7;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
}

.matrix-chosenPlaceholder {
    display: flex;
    border: 1px solid rgba(201, 200, 216, 0.9);
    border-radius: 2.4rem;
    padding: 1.6rem;
}

.mini-square-small {
    height: 1.6rem;
    width: 1.6rem;
    margin: 0.4rem;
    border: 1px solid #292562;
    border-radius: 0.4rem;
    background-color: rgba(201, 200, 216, 1);
    align-self: center;
}

.chosen-gallery {
    grid-column: 1;
    grid-row: 4;
}

.chosen-partnerships02 {
    grid-column: 1;
    grid-row: 5;
}

.chosen-imageRecognition {
    grid-column: 1;
    grid-row: 6;
}

.chosen-googleArtsACulture {
    grid-column: 1;
    grid-row: 7;
}

.culturalDepartment {
    grid-row: 2
}

.partnerships01 {
    grid-row: 3
}

.gallery {
    grid-row: 4;
}

.partnerships02 {
    grid-row: 5
}

.imageRecognition {
    grid-row: 6;
}

.googleArtsACulture {
    grid-row: 7
}

.chosen-proposal {
    display: flex;
    align-items: center;
}

.matrix-chosenPropositions {
    display: flex;
    align-items: center;
    border: 1px solid rgba(201, 200, 216, 0.9);
    border-radius: 2.4rem;
    padding: 1.6rem;

}

.chosenPropositionsTxt {
    font-size: 1.2rem;
}

/* ************************************** */
/* HOW MIGHT WE - SKETCHING / STORYBOARD  */
/* ************************************** */

/*
.grid--5-colsStoryboard {
    grid-template-columns: 1.25fr 1.25fr 1.25fr 1.25fr 2fr;
}*/
.storyboardBackground {
    background-color: #99999924;
    margin-bottom: 2.4rem;
    border-radius: 2.4rem;
}

.storyClerigosOnSiteMobile,
.storyboard-text,
.storyMuseum-steps {
    display: flex;
    /*
    justify-content: center;*/
}

.colsForArrowStoryboard {
    display: grid;
    grid-template-columns: 2;
}

.rowsForSubtitles {
    display: grid;
    row-gap: 0.8rem;
    grid-template-columns: 2;
    grid-template-rows: 2;
    padding-left: 2.4rem;
}

.sketchSubtitle {
    font-size: 1.2rem;
}

.col2ForStoryboardArrow {
    grid-column: 2;
    display: flex;
    align-items: center;
}

.storyboardArrow {
    font-size: 2.4rem;
    align-self: center;

}

.storyClerigosOnSiteMobile {
    align-self: self-end;
}

.storyClerigosOnSiteMobile img,
.storyMuseum-steps img {
    height: 20rem;
}

.storyClerigosOnSiteTower img {
    height: 36rem;
}

.storyboard-text {
    font-size: 1.2rem;
    align-self: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.storyCulture {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

}

.grid--3-cols-storyboard {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid--2-cols-storyboard {
    grid-template-columns: 1fr 2fr;
}

.grid--5-cols-storyboard {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;

}

/**/

/* ********************** */
/* LECTURE - 04-PROTOTYPE */
/* ********************** */


/* usabilityTestReporting */
/* usabilityTestReporting-steps*/

.grid--6-cols {
    grid-template-columns: repeat(6, 1fr);
}

/* **************************** */
/* TEST SCHEME - CIRCLE-DIAMOND */
/* **************************** */

.circleDiamondScheme {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    margin-bottom: 8.8rem;
}

.circle {
    display: flex;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid #292562;
    margin-right: 3rem;
}

.txtUsabilityTestSchemeDiamond {
    transform: rotate(-45deg);
}

.txtUsabilityTestSchemeDiamond,
.txtUsabilityTestScheme {
    font-size: 1rem;
    align-self: center;
    text-align: center;
}

.circleDiamondArrow {
    font-size: 3rem;
    color: rgba(201, 200, 216, 1);
    margin-right: 3rem;
}

.diamond {
    display: flex;
    width: 6.4rem;
    height: 6.4rem;
    border: 1px solid #292562;
    transform: rotate(45deg);
    margin-right: 3rem;
}

/* usabilityTestReporting-script*/
/* usabilityTestReporting-test */
/* usabilityTestReporting-report */

/* ************** FOOTER ************************* */





/*
8-16-24-32-40-48-56-64-72-80-88-96-104-112-120-
128-136-144-152-160-168-176-184-192-200-208-216-
224----...280-288-296-304-312
*/
.title-1 {
    font-size: 1.6rem;
    font-weight: 300;
}

.title-2 {
    font-size: 14px;
}

.grid--5-rows {
    grid-template-rows: repeat (5, 1fr);
}

.icon {
    font-size: 2.4rem;
    color: #555;
}

/* *************************************** */
/* *************************************** */

/*
.linkSamePage {
    display: flex;
    font-size: 10px;
}

.linkTo {
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 8px;
}
*/
/* *************************************** */
/* *************************************** */
/* *************************************** */
/* *************************************** */
/* *************************************** */
/*** ******************************************** ***/
/*** ******************************************** ***/
/*** ******************************************** ***/
/* *************************************** */
/* *************************************** */


/*

.uxMethodSchemeRight {
    scale: 50%;
}

.uxMethodSchemeRight,
.uxDefineRight,
.uxIdeateRight,
.uxPrototypeRight,
.uxTestRight {
    justify-self: right;
}
*/
/* ************* */

.underConstructionWheels {
    align-self: center;
    height: 8rem;
}

.underConstructionSubtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #333;
}

/*********************************************/

.grid--2-colsTable {
    width: 100%;
    grid-template-columns: 1fr, 1fr;
}

.presentationHomepage {
    height: 16rem;
    margin-bottom: 6.4rem;
}

/*
.uxStepTest img,
.uxStepPrototype img,
.uxStepIdeate img,
.uxStepDefine img {
    padding-right: 4px;
}

.uxStepTest p,
.uxStepPrototype p,
.uxStepIdeate p,
.uxStepDefine p,
.uxMethodology-allPhases p {
    padding-right: 16px;
}
*/

/* LECTURE ux methodology - SECTION */
/*
.uxStepTest,
.uxStepPrototype,
.uxStepIdeate,
.uxStepDefine {
    display: flex;
    align-items: center;
}
*/
/* **************************** */
/* comparisons table experiment */
/* **************************** */

.competitorsComparisonsTable {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

.grid--4-colsLogos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--4-cols {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.logosSmall {
    height: 1rem;

}

/* logos */
.comparisonsTableHeader {
    justify-self: center;
}

.comparisonsTitle p {
    justify-self: center;
}


/* **************** */
/* MAKING OF - PAGE */
/* **************** */
.page-index {
    min-height: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.circle-greys img,
.circle-colors img {
    height: 1.6rem;
}

/*
.figmaSection {}
*/
.figmaSectionTitles {
    margin-bottom: 4.8rem;
}

.figmaIcon {
    font-size: 2.4rem;
    color: #999;
    margin-bottom: 0.8rem;
}

.figmaSectionTitles p {
    font-size: 1.6rem;
    font-weight: 500;
}

.figmaSectionSubTitles {
    margin-bottom: 12rem;
}

.figmaSectionSubTitles p {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.figma-sliderComponent,
.figma-personaCardComponent {
    max-width: 100%;
}